In [1]:
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import base64
from io import BytesIO
from IPython.core.display import display, HTML, Markdown
from  matplotlib.colors import get_named_colors_mapping 
import re as regex
import altair as alt
import pyperclip as clip


pd.set_option('display.max_colwidth',1000)

def get_db():
    try: db.close()
    except:
        pass
    db = psycopg2.connect("host=localhost dbname=dns user=postgres password=postgres")
    return db

colors = [c for c in get_named_colors_mapping() if c[0:4] != 'xkcd' and len(c) > 1 and c[0:3] != 'tab']

db = get_db()

pcaps_i = pd.read_sql("""SELECT * FROM pcap WHERE infected is TRUE ORDER BY q""", db)

pcaps_ni = pd.read_sql("""SELECT * FROM pcap WHERE infected is FALSE ORDER BY q""", db)

pcaps = pd.read_sql("""SELECT * FROM pcap ORDER BY q""", db)

sizes_db = pd.read_sql("""SELECT DISTINCT size FROM window_q ORDER BY size""", db)["size"]

malwares = pd.read_sql("""SELECT * FROM malware ORDER BY id""", get_db())

mc = {m['id']: colors[m['id']+18] for _, m in malwares.iterrows()}

#for i, m in malwares.iterrows():
#    pd.Series(data=[0.05*i]*100).plot(color=mc[m['id']])

style = """
    <html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
                <style>
                         table, th, td, tr {
                            border: none;
                        }

                        th, td {
                            white-space: nowrap;
                            min-width: 80px;
                            text-align: left;
                        }

                        th:nth-child(1) {
                            display: none;
                        }
                </style>
        </head>
<body>
"""


def tnfntpfp(tn,fn,tp,fp):
    pri = tp / (tp + fp)
    rei = tp / (tp + fn)
    f1i = 2 * (pri * rei) / (pri + rei)
    prni = tn / (tn + fn)
    reni = tn / (tn + fp)
    f1ni = 2 * (prni * reni) / (prni + reni)
    ac = (tp + tn) / (tp + tn + fp + fn)
    prm = (pri + prni)/2
    rem = (rei + reni)/2
    f1m = (f1i + f1ni)/2
    return {
        ('normal', 'pr'): tn / (tn + fn), ('normal', 're'): tn / (tn + fp), ('normal', 'f1'): 2 * (prni * reni) / (prni + reni),
        ('infected', 'pr'): tp / (tp + fp), ('infected', 're'): tp / (tp + fn), ('infected', 'f1'): 2 * (pri * rei) / (pri + rei),
        ('macro', 'pr'): (pri + prni)/2, ('macro', 're'): (rei + reni)/2, ('macro', 'f1'): (f1i + f1ni)/2,
        ('', 'accuracy'): (tp + tn) / (tp + tn + fp + fn)
    }
    return {
        'prni': tn / (tn + fn), 'reni': tn / (tn + fp), 'f1ni': 2 * (prni * reni) / (prni + reni),
        'pri': tp / (tp + fp), 'rei': tp / (tp + fn), 'f1i': 2 * (pri * rei) / (pri + rei),
        'prm': (pri + prni)/2, 'rem': (rei + reni)/2, 'f1m': (f1i + f1ni)/2,
        'ac': (tp + tn) / (tp + tn + fp + fn)
    }

df_windows = pd.read_sql(
    """SELECT infected, pcap_id, size, "llr.0"[1] as llr, dga FROM "window_q" JOIN pcap on pcap_id=pcap.id JOIN malware ON malware.id=pcap.malware_id WHERE size=app""",
    db,
)

In [2]:
db = get_db()

df = df_windows[['infected', 'pcap_id', 'size', 'llr', 'dga']].copy()

df = df.groupby(['infected', 'size', 'dga']).aggregate({
    'llr': ['max', 'min', 'mean', 'std']
}).astype(int)

new_index, t = df.index.swaplevel(1,0).sortlevel()

df = df.iloc[t]
df.index = new_index

df = df.astype(int).unstack()

display(df)
window_bounds_ni = df.xs(False, level=1, axis=0).droplevel(0, axis=1).to_dict(orient='index')
window_bounds_i = df.xs(True, level=1, axis=0).droplevel(0, axis=1).to_dict(orient='index')

                    llr                                                  \
                    max                          min
dga                   1        2         3         1         2        3
size  infected
100   False      1454.0      NaN       NaN   -3893.0       NaN      NaN
      True        487.0   2294.0    3771.0  -10000.0   -6337.0  -5685.0
500   False      -934.0      NaN       NaN   -7598.0       NaN      NaN
      True      -1160.0   9801.0   13452.0  -48427.0  -26073.0  -6269.0
1000  False     -2322.0      NaN       NaN  -12972.0       NaN      NaN
      True      -3945.0  18683.0   23354.0  -87194.0  -51026.0 -10034.0
2500  False    -15313.0      NaN       NaN  -29374.0       NaN      NaN
      True      -9998.0  46775.0   54870.0 -152380.0 -115654.0 -24719.0
10000 False    -86560.0      NaN       NaN  -99722.0       NaN      NaN
      True     -40712.0  83162.0  210387.0 -355078.0 -381836.0 -96180.0


                    mean                          std
dga                    1         2         3        1        2        3
size  infected
100   False       -959.0       NaN       NaN    202.0      NaN      NaN
      True       -2820.0   -1218.0    1806.0   2589.0    485.0    597.0
500   False      -4796.0       NaN       NaN    548.0      NaN      NaN
      True      -14105.0   -6093.0    9037.0  10447.0   2321.0   2649.0
1000  False      -9589.0       NaN       NaN    957.0      NaN      NaN
      True      -28214.0  -12186.0   18083.0  18192.0   4544.0   5161.0
2500  False     -23987.0       NaN       NaN   1432.0      NaN      NaN
      True      -70582.0  -30459.0   45262.0  30962.0  10885.0  12636.0
10000 False     -95243.0       NaN       NaN   2762.0      NaN      NaN
      True     -283115.0 -121586.0  182049.0  87701.0  40723.0  47998.0

In [51]:
db = get_db()

if df_windows is None:
    df_windows = pd.read_sql(
        """SELECT infected, pcap_id, size, "llr.0"[1] as llr, dga FROM "window_q" JOIN pcap on pcap_id=pcap.id JOIN malware ON malware_id=pcap.malware_id WHERE size=app""",
        db,
    )

for dga in [1,2,3]:
    for size in df_windows["size"].drop_duplicates():
        if size != 500: continue
        print([window_bounds_ni[size][(m, 1)] for m in ["max", "min", "mean"]])
        for th_l in [window_bounds_ni[size][(m, 1)] for m in ["max", "min", "mean"]]:
            df = df_windows[df_windows["size"] == size].copy()
            df = df[(~df.infected) | (df.dga >= dga)]
            tp = ((df.llr > th_l) & (df.infected)).sum()
            fp = ((df.llr > th_l) & (~df.infected)).sum()
            fn = ((df.llr <= th_l) & (df.infected)).sum()
            tn = ((df.llr <= th_l) & (~df.infected)).sum()
            report = tnfntpfp(tn, fn, tp, fp)
            df = pd.DataFrame.from_dict(report, orient="index").T
            df.columns = pd.MultiIndex.from_tuples(df.columns)
            display(Markdown("## DGA>=%d | size=%d | th_l=%f" % (dga, size, th_l)))
            display(df)
            display(pd.DataFrame.from_dict({'NIt': {'NIp': tn, 'Ip': fp}, 'It': {'NIp': fn, 'Ip': tp}}, orient='index'))#.div([tn+fp, tp+fn], axis=0).round(2))

[-934.0, -7598.0, -4796.0]

## DGA>=1 | size=500 | th_l=-934.000000

     normal                infected                         macro            \
         pr   re        f1       pr        re        f1        pr        re
0  0.039854  1.0  0.076653      1.0  0.455277  0.625691  0.519927  0.727639


         f1  accuracy
0  0.351172  0.467321

       NIp     Ip
NIt    590      0
It   14214  11880

## DGA>=1 | size=500 | th_l=-7598.000000

     normal                      infected                         macro  \
         pr        re        f1        pr        re        f1        pr
0  0.000143  0.001695  0.000265  0.970123  0.732927  0.835007  0.485133


         re        f1  accuracy
0  0.367311  0.417636  0.716759

      NIp     Ip
NIt     1    589
It   6969  19125

## DGA>=1 | size=500 | th_l=-4796.000000

     normal                      infected                         macro  \
         pr        re        f1        pr        re        f1        pr
0  0.026094  0.535593  0.049764  0.981199  0.548019  0.703256  0.503647


         re       f1  accuracy
0  0.541806  0.37651  0.547744

       NIp     Ip
NIt    316    274
It   11794  14300

[-934.0, -7598.0, -4796.0]

## DGA>=2 | size=500 | th_l=-934.000000

    normal                infected                        macro            \
        pr   re        f1       pr        re        f1       pr        re
0  0.15592  1.0  0.269776      1.0  0.788112  0.881502  0.57796  0.894056


         f1  accuracy
0  0.575639  0.796093

      NIp     Ip
NIt   590      0
It   3194  11880

## DGA>=2 | size=500 | th_l=-7598.000000

     normal                      infected                         macro  \
         pr        re        f1        pr        re        f1        pr
0  0.007937  0.001695  0.002793  0.962093  0.991708  0.976676  0.485015


         re        f1  accuracy
0  0.496701  0.489735  0.954418

     NIp     Ip
NIt    1    589
It   125  14949

## DGA>=2 | size=500 | th_l=-4796.000000

     normal                      infected                         macro  \
         pr        re        f1        pr        re        f1        pr
0  0.102133  0.535593  0.171553  0.978202  0.815709  0.889596  0.540168


         re        f1  accuracy
0  0.675651  0.530574  0.805158

      NIp     Ip
NIt   316    274
It   2778  12296

[-934.0, -7598.0, -4796.0]

## DGA>=3 | size=500 | th_l=-934.000000

     normal                infected                         macro            \
         pr   re        f1       pr        re        f1        pr        re
0  0.768229  1.0  0.868925      1.0  0.985222  0.992556  0.884115  0.992611


        f1  accuracy
0  0.93074  0.985912

     NIp     Ip
NIt  590      0
It   178  11867

## DGA>=3 | size=500 | th_l=-7598.000000

  normal                     infected                   macro            \
      pr        re        f1       pr   re        f1       pr        re
0    1.0  0.001695  0.003384  0.95338  1.0  0.976134  0.97669  0.500847


         f1  accuracy
0  0.489759  0.953383

     NIp     Ip
NIt    1    589
It     0  12045

## DGA>=3 | size=500 | th_l=-4796.000000

     normal                      infected                        macro  \
         pr        re        f1        pr       re        f1        pr
0  0.932153  0.535593  0.680301  0.977716  0.99809  0.987798  0.954935


         re       f1  accuracy
0  0.766842  0.83405  0.976494

     NIp     Ip
NIt  316    274
It    23  12022

In [35]:
db = get_db()

if df_windows is None:
    df_windows = pd.read_sql(
        """SELECT infected, pcap_id, size, "llr.0"[1] as llr, dga FROM "window_q" JOIN pcap on pcap_id=pcap.id JOIN malware ON malware_id=pcap.malware_id WHERE size=app""",
        db,
    )

cf = 1.2
values = {}
for dga in [1,2,3]:
    for size in [100, 500, 2500]: #df_windows["size"].drop_duplicates():
        for m in [("max", "$\\bar{M}^{%d}\cdot%0.1f$" % (size, cf)), ("mean", "$\\bar{\mu}^{%d}\cdot%0.1f$" % (size, cf))]: #("min", "$m^{%d}$" % size), 
            th_l = cf * window_bounds_ni[size][(m[0], 1)]
            df = df_windows[df_windows["size"] == size].copy()
            df = df[(~df.infected) | (df.dga >= dga)]
            tp = ((df.llr > th_l) & (df.infected)).sum()
            fp = ((df.llr > th_l) & (~df.infected)).sum()
            fn = ((df.llr <= th_l) & (df.infected)).sum()
            tn = ((df.llr <= th_l) & (~df.infected)).sum()
            report = tnfntpfp(tn, fn, tp, fp)
            df = pd.DataFrame.from_dict(report, orient="index").T
            df.columns = pd.MultiIndex.from_tuples(df.columns)
            #display(Markdown("## DGA>=%d | size=%d | th_l=%f" % (dga, size, th_l)))
            df_cm = pd.DataFrame.from_dict({'NIt': {'NIp': tn, 'Ip': fp}, 'It': {'NIp': fn, 'Ip': tp}}, orient='index')
            values[(dga, size, m[1])] = [df_cm.to_latex(escape=False)\
                                         .replace("\n", "")\
                                         .replace(r"\toprule{}", "")
                                         .replace(r"\midrule", "")
                                         .replace(r"\bottomrule", "")
                                        ] + df.round(2).to_numpy().tolist()[0]

cols = [("", "CM")] + list(df.columns.values)
df = pd.DataFrame.from_dict(values, orient="index")
df.columns = pd.MultiIndex.from_tuples(cols)
df.index = pd.MultiIndex.from_tuples(df.index.values, names=["vDGA", "$s$", "$th_{\lambda}$"])

In [36]:
import re

def correct_table(result):
    
    regex = r"[ ]+"
    subst = " "
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    
    regex = r" & NIp & Ip \\\\NIt & "
    subst = ""
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    regex = r"\s*It\s+&"
    subst = ""
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    result = result.replace("lrr", "lr")
    result = result.replace("\nvDGA & $s$ & $th_{\lambda}$ & & & & & & & & & & & \\\\", "")
    
    result = result.replace("llllrrrrrrrrr", "lcrrrrrrrrrr")
    result = result.replace(" & & ", "")
    
    regex = r"^(\d)\s+&\s+(\d+)\s+&\s+\$\\bar"
    subst = "\\\\multicolumn{5}{l}{$vDGA=\\1$} \\\\\\\\\n\\\\multicolumn{5}{l}{\\\\phantom{ab}$s=\\2$} \\\\\\\\\n\\\\phantom{abcd}$\\\\bar"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    regex = r"^\s+&\s+(\d+)\s+&\s+\$\\bar"
    subst = "\\\\\\\\ \\\\multicolumn{5}{l}{\\\\phantom{ab}$s=\\1$} \\\\\\\\\n\\\\phantom{abcd}$\\\\bar"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    regex = r"^\s*\$\\bar"
    subst = "\\\\phantom{abcd}$\\\\bar"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    
    regex = r"\\\\\n\\\\ \\multicolumn"
    subst = "\\\\\\\\\n \\\\multicolumn"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    
    regex = r" \\begin{tabular}{lr}"
    subst = "$\\\\begin{pmatrix}"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    regex = r"\\end{tabular} "
    subst = "\\\\end{pmatrix}$"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    
    regex = r"^ & & \multicolumn"
    subst = " & & \\\\multicolumn"
    #result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    regex = r"vDGA=(\d)"
    subst = "vDGA\\\\le\\1"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    
    regex = r"\\end{pmatrix}\$\s*&((?: [\d\.]+ &){3})+((?: [\d\.]+ &){3})+((?: [\d\.]+ &){3})+( [\d\.]+)"
    subst = "\\\\end{pmatrix}$ && \\1& \\2& \\3\\4"
    result = re.sub(regex, subst, result, 0, re.MULTILINE)
    
    result = result.replace(
        r"""\begin{tabular}{lcrrrrrrrrrr}
\toprule
& \multicolumn{3}{l}{normal} & \multicolumn{3}{l}{infected} & \multicolumn{4}{l}{macro} \\
& CM & pr & re & f1 & pr & re & f1 & pr & re & f1 & accuracy \\
\midrule""",
        r"""\begin{tabular}{@{}lcccccccccccccc@{}}
\toprule
& & \phantom{a} &\multicolumn{3}{c}{normal} & \phantom{a} & \multicolumn{3}{c}{infected} & \phantom{a} & \multicolumn{4}{c}{macro} \\
\phantom{abcde}$th_{\lambda}$ & CM && pr & re & f1 && pr & re & f1 && pr & re & f1 & accuracy \\
\midrule""")
    
    return result


clip.copy(correct_table(df.to_latex(escape=False)))

display(df)
print(correct_table(df.to_latex(escape=False)))

                                                                                                                                              \
                                                                                                                                          CM
vDGA $s$  $th_{\lambda}$
1    100  $\bar{M}^{100}\cdot1.2$     \begin{tabular}{lrr} &    NIp &     Ip \\NIt &   2977 &      0 \\It  &  90467 &  40068 \\\end{tabular}
          $\bar{\mu}^{100}\cdot1.2$   \begin{tabular}{lrr} &    NIp &     Ip \\NIt &     85 &   2892 \\It  &  42933 &  87602 \\\end{tabular}
     500  $\bar{M}^{500}\cdot1.2$     \begin{tabular}{lrr} &    NIp &     Ip \\NIt &    588 &      2 \\It  &  14213 &  11881 \\\end{tabular}
          $\bar{\mu}^{500}\cdot1.2$      \begin{tabular}{lrr} &   NIp &     Ip \\NIt &    19 &    571 \\It  &  9902 &  16192 \\\end{tabular}
     2500 $\bar{M}^{2500}\cdot1.2$          \begin{tabular}{lrr} &   NIp &    Ip \\NIt &   108 &     1 \\It  &  2784 &  2424 \\\end{tabular}
          $\bar{\mu}^{2500}\cdot1.2$        \begin{tabular}{lrr} &   NIp &    Ip \\NIt &     1 &   108 \\It  &  2168 &  3040 \\\end{tabular}
2    100  $\bar{M}^{100}\cdot1.2$     \begin{tabular}{lrr} &    NIp &     Ip \\NIt &   2977 &      0 \\It  &  35350 &  40068 \\\end{tabular}
          $\bar{\mu}^{100}\cdot1.2$      \begin{tabular}{lrr} &   NIp &     Ip \\NIt &    85 &   2892 \\It  &  7976 &  67442 \\\end{tabular}
     500  $\bar{M}^{500}\cdot1.2$        \begin{tabular}{lrr} &   NIp &     Ip \\NIt &   588 &      2 \\It  &  3193 &  11881 \\\end{tabular}
          $\bar{\mu}^{500}\cdot1.2$      \begin{tabular}{lrr} &   NIp &     Ip \\NIt &    19 &    571 \\It  &  1560 &  13514 \\\end{tabular}
     2500 $\bar{M}^{2500}\cdot1.2$             \begin{tabular}{lrr} &  NIp &    Ip \\NIt &  108 &     1 \\It  &  613 &  2394 \\\end{tabular}
          $\bar{\mu}^{2500}\cdot1.2$           \begin{tabular}{lrr} &  NIp &    Ip \\NIt &    1 &   108 \\It  &  308 &  2699 \\\end{tabular}
3    100  $\bar{M}^{100}\cdot1.2$     \begin{tabular}{lrr} &    NIp &     Ip \\NIt &   2977 &      0 \\It  &  20231 &  40029 \\\end{tabular}
          $\bar{\mu}^{100}\cdot1.2$         \begin{tabular}{lrr} &  NIp &     Ip \\NIt &   85 &   2892 \\It  &   16 &  60244 \\\end{tabular}
     500  $\bar{M}^{500}\cdot1.2$           \begin{tabular}{lrr} &  NIp &     Ip \\NIt &  588 &      2 \\It  &  177 &  11868 \\\end{tabular}
          $\bar{\mu}^{500}\cdot1.2$         \begin{tabular}{lrr} &  NIp &     Ip \\NIt &   19 &    571 \\It  &    3 &  12042 \\\end{tabular}
     2500 $\bar{M}^{2500}\cdot1.2$             \begin{tabular}{lrr} &  NIp &    Ip \\NIt &  108 &     1 \\It  &   12 &  2391 \\\end{tabular}
          $\bar{\mu}^{2500}\cdot1.2$           \begin{tabular}{lrr} &  NIp &    Ip \\NIt &    1 &   108 \\It  &    0 &  2403 \\\end{tabular}

                                     normal             infected              \
                                         pr    re    f1       pr    re    f1
vDGA $s$  $th_{\lambda}$
1    100  $\bar{M}^{100}\cdot1.2$      0.03  1.00  0.06     1.00  0.31  0.47
          $\bar{\mu}^{100}\cdot1.2$    0.00  0.03  0.00     0.97  0.67  0.79
     500  $\bar{M}^{500}\cdot1.2$      0.04  1.00  0.08     1.00  0.46  0.63
          $\bar{\mu}^{500}\cdot1.2$    0.00  0.03  0.00     0.97  0.62  0.76
     2500 $\bar{M}^{2500}\cdot1.2$     0.04  0.99  0.07     1.00  0.47  0.64
          $\bar{\mu}^{2500}\cdot1.2$   0.00  0.01  0.00     0.97  0.58  0.73
2    100  $\bar{M}^{100}\cdot1.2$      0.08  1.00  0.14     1.00  0.53  0.69
          $\bar{\mu}^{100}\cdot1.2$    0.01  0.03  0.02     0.96  0.89  0.93
     500  $\bar{M}^{500}\cdot1.2$      0.16  1.00  0.27     1.00  0.79  0.88
          $\bar{\mu}^{500}\cdot1.2$    0.01  0.03  0.02     0.96  0.90  0.93
     2500 $\bar{M}^{2500}\cdot1.2$     0.15  0.99  0.26     1.00  0.80  0.89
          $\bar{\mu}^{2500}\cdot1.2$   0.00  0.01  0.00     0.96  0.90  0.93
3    100  $\bar{M}^{100}\cdot1.2$      0.13  1.00  0.23     1.00  0.66  0.80
          $\bar{\mu}^{100}\cdot1.2$    0.84  0.03  0.06     0.95  1.00  0.98
     500  $\bar{M}^{500}\cdot1.2$      0.77  1.00  0.87     1.00  0.99  0.99
          $\bar{\mu}^{500}\cdot1.2$    0.86  0.03  0.06     0.95  1.00  0.98
     2500 $\bar{M}^{2500}\cdot1.2$     0.90  0.99  0.94     1.00  1.00  1.00
          $\bar{\mu}^{2500}\cdot1.2$   1.00  0.01  0.02     0.96  1.00  0.98

                                     macro
                                        pr    re    f1 accuracy
vDGA $s$  $th_{\lambda}$
1    100  $\bar{M}^{100}\cdot1.2$     0.52  0.65  0.27     0.32
          $\bar{\mu}^{100}\cdot1.2$   0.49  0.35  0.40     0.66
     500  $\bar{M}^{500}\cdot1.2$     0.52  0.73  0.35     0.47
          $\bar{\mu}^{500}\cdot1.2$   0.48  0.33  0.38     0.61
     2500 $\bar{M}^{2500}\cdot1.2$    0.52  0.73  0.35     0.48
          $\bar{\mu}^{2500}\cdot1.2$  0.48  0.30  0.36     0.57
2    100  $\bar{M}^{100}\cdot1.2$     0.54  0.77  0.42     0.55
          $\bar{\mu}^{100}\cdot1.2$   0.48  0.46  0.47     0.86
     500  $\bar{M}^{500}\cdot1.2$     0.58  0.89  0.58     0.80
          $\bar{\mu}^{500}\cdot1.2$   0.49  0.46  0.47     0.86
     2500 $\bar{M}^{2500}\cdot1.2$    0.57  0.89  0.57     0.80
          $\bar{\mu}^{2500}\cdot1.2$  0.48  0.45  0.47     0.87
3    100  $\bar{M}^{100}\cdot1.2$     0.56  0.83  0.51     0.68
          $\bar{\mu}^{100}\cdot1.2$   0.90  0.51  0.52     0.95
     500  $\bar{M}^{500}\cdot1.2$     0.88  0.99  0.93     0.99
          $\bar{\mu}^{500}\cdot1.2$   0.91  0.52  0.52     0.95
     2500 $\bar{M}^{2500}\cdot1.2$    0.95  0.99  0.97     0.99
          $\bar{\mu}^{2500}\cdot1.2$  0.98  0.50  0.50     0.96

\begin{tabular}{@{}lcccccccccccccc@{}}
\toprule
& & \phantom{a} &\multicolumn{3}{c}{normal} & \phantom{a} & \multicolumn{3}{c}{infected} & \phantom{a} & \multicolumn{4}{c}{macro} \\
\phantom{abcde}$th_{\lambda}$ & CM && pr & re & f1 && pr & re & f1 && pr & re & f1 & accuracy \\
\midrule
\multicolumn{5}{l}{$vDGA\le1$} \\
\multicolumn{5}{l}{\phantom{ab}$s=100$} \\
\phantom{abcd}$\bar{M}^{100}\cdot1.2$ &$\begin{pmatrix}2977 & 0 \\ 90467 & 40068 \\\end{pmatrix}$ &&  0.03 & 1.00 & 0.06 &&  1.00 & 0.31 & 0.47 &&  0.52 & 0.65 & 0.27 & 0.32 \\
\phantom{abcd}$\bar{\mu}^{100}\cdot1.2$ &$\begin{pmatrix}85 & 2892 \\ 42933 & 87602 \\\end{pmatrix}$ &&  0.00 & 0.03 & 0.00 &&  0.97 & 0.67 & 0.79 &&  0.49 & 0.35 & 0.40 & 0.66 \\
 \multicolumn{5}{l}{\phantom{ab}$s=500$} \\
\phantom{abcd}$\bar{M}^{500}\cdot1.2$ &$\begin{pmatrix}588 & 2 \\ 14213 & 11881 \\\end{pmatrix}$ &&  0.04 & 1.00 & 0.08 &&  1.00 & 0.46 & 0.63 &&  0.52 & 0.73 & 0.35 & 0.47 \\
\phantom{abcd}$\bar{\mu}^{500}\cdot1.2$ &$\begin{pmatrix}19 & 571 \\ 9902 & 16192 \\\end{pmatrix}$ &&  0.00 & 0.03 & 0.00 &&  0.97 & 0.62 & 0.76 &&  0.48 & 0.33 & 0.38 & 0.61 \\
 \multicolumn{5}{l}{\phantom{ab}$s=2500$} \\
\phantom{abcd}$\bar{M}^{2500}\cdot1.2$ &$\begin{pmatrix}108 & 1 \\ 2784 & 2424 \\\end{pmatrix}$ &&  0.04 & 0.99 & 0.07 &&  1.00 & 0.47 & 0.64 &&  0.52 & 0.73 & 0.35 & 0.48 \\
\phantom{abcd}$\bar{\mu}^{2500}\cdot1.2$ &$\begin{pmatrix}1 & 108 \\ 2168 & 3040 \\\end{pmatrix}$ &&  0.00 & 0.01 & 0.00 &&  0.97 & 0.58 & 0.73 &&  0.48 & 0.30 & 0.36 & 0.57 \\
\multicolumn{5}{l}{$vDGA\le2$} \\
\multicolumn{5}{l}{\phantom{ab}$s=100$} \\
\phantom{abcd}$\bar{M}^{100}\cdot1.2$ &$\begin{pmatrix}2977 & 0 \\ 35350 & 40068 \\\end{pmatrix}$ &&  0.08 & 1.00 & 0.14 &&  1.00 & 0.53 & 0.69 &&  0.54 & 0.77 & 0.42 & 0.55 \\
\phantom{abcd}$\bar{\mu}^{100}\cdot1.2$ &$\begin{pmatrix}85 & 2892 \\ 7976 & 67442 \\\end{pmatrix}$ &&  0.01 & 0.03 & 0.02 &&  0.96 & 0.89 & 0.93 &&  0.48 & 0.46 & 0.47 & 0.86 \\
 \multicolumn{5}{l}{\phantom{ab}$s=500$} \\
\phantom{abcd}$\bar{M}^{500}\cdot1.2$ &$\begin{pmatrix}588 & 2 \\ 3193 & 11881 \\\end{pmatrix}$ &&  0.16 & 1.00 & 0.27 &&  1.00 & 0.79 & 0.88 &&  0.58 & 0.89 & 0.58 & 0.80 \\
\phantom{abcd}$\bar{\mu}^{500}\cdot1.2$ &$\begin{pmatrix}19 & 571 \\ 1560 & 13514 \\\end{pmatrix}$ &&  0.01 & 0.03 & 0.02 &&  0.96 & 0.90 & 0.93 &&  0.49 & 0.46 & 0.47 & 0.86 \\
 \multicolumn{5}{l}{\phantom{ab}$s=2500$} \\
\phantom{abcd}$\bar{M}^{2500}\cdot1.2$ &$\begin{pmatrix}108 & 1 \\ 613 & 2394 \\\end{pmatrix}$ &&  0.15 & 0.99 & 0.26 &&  1.00 & 0.80 & 0.89 &&  0.57 & 0.89 & 0.57 & 0.80 \\
\phantom{abcd}$\bar{\mu}^{2500}\cdot1.2$ &$\begin{pmatrix}1 & 108 \\ 308 & 2699 \\\end{pmatrix}$ &&  0.00 & 0.01 & 0.00 &&  0.96 & 0.90 & 0.93 &&  0.48 & 0.45 & 0.47 & 0.87 \\
\multicolumn{5}{l}{$vDGA\le3$} \\
\multicolumn{5}{l}{\phantom{ab}$s=100$} \\
\phantom{abcd}$\bar{M}^{100}\cdot1.2$ &$\begin{pmatrix}2977 & 0 \\ 20231 & 40029 \\\end{pmatrix}$ &&  0.13 & 1.00 & 0.23 &&  1.00 & 0.66 & 0.80 &&  0.56 & 0.83 & 0.51 & 0.68 \\
\phantom{abcd}$\bar{\mu}^{100}\cdot1.2$ &$\begin{pmatrix}85 & 2892 \\ 16 & 60244 \\\end{pmatrix}$ &&  0.84 & 0.03 & 0.06 &&  0.95 & 1.00 & 0.98 &&  0.90 & 0.51 & 0.52 & 0.95 \\
 \multicolumn{5}{l}{\phantom{ab}$s=500$} \\
\phantom{abcd}$\bar{M}^{500}\cdot1.2$ &$\begin{pmatrix}588 & 2 \\ 177 & 11868 \\\end{pmatrix}$ &&  0.77 & 1.00 & 0.87 &&  1.00 & 0.99 & 0.99 &&  0.88 & 0.99 & 0.93 & 0.99 \\
\phantom{abcd}$\bar{\mu}^{500}\cdot1.2$ &$\begin{pmatrix}19 & 571 \\ 3 & 12042 \\\end{pmatrix}$ &&  0.86 & 0.03 & 0.06 &&  0.95 & 1.00 & 0.98 &&  0.91 & 0.52 & 0.52 & 0.95 \\
 \multicolumn{5}{l}{\phantom{ab}$s=2500$} \\
\phantom{abcd}$\bar{M}^{2500}\cdot1.2$ &$\begin{pmatrix}108 & 1 \\ 12 & 2391 \\\end{pmatrix}$ &&  0.90 & 0.99 & 0.94 &&  1.00 & 1.00 & 1.00 &&  0.95 & 0.99 & 0.97 & 0.99 \\
\phantom{abcd}$\bar{\mu}^{2500}\cdot1.2$ &$\begin{pmatrix}1 & 108 \\ 0 & 2403 \\\end{pmatrix}$ &&  1.00 & 0.01 & 0.02 &&  0.96 & 1.00 & 0.98 &&  0.98 & 0.50 & 0.50 & 0.96 \\
\bottomrule
\end{tabular}