In [2]:
from Capture import normal, mixed, botnet, training, Capture
from IO import Input, Output, DF
from Model import Model
from DomainLevel import Transformer
import numpy as np
import pandas as pd

/home/princio/anaconda3/envs/keras/lib/python3.8/site-packages/tldextract/.tld_set
/home/princio/anaconda3/envs/keras/lib/python3.8/site-packages/tldextract/.tld_set

In [72]:
def string_distribution(DF, string):
    df = DF.readable[DF.dn.str.find(string) >= 0]
    l = df[df['label'] == 'legit'].shape[0]
    d = df[df['label'] == 'dga'].shape[0]
    print(f'legit={l}, dga={d}')
    return df
    #return df, df[df['label'] == 'legit'].shape[0], df[df['label'] == 'dga'].shape[0]

In [14]:
captures = [normal['31']]

models = [Model.load(1), Model.load(2), Model.load(-3)]
trs= [ Transformer.NOSFX, Transformer.NOSFX_NP, Transformer.DOMAIN, Transformer.LAST ]

outputs = []
false_dga = {}
dga_dn_levels = {}
false_dga_levels_dn = {}
false_dga_levels_dn_norm = {}
level_1_df = None
for capture in captures:
    for tr in trs:
        false_dga[(capture.name, tr.name)] = {}
        for model in models:
            input  = Input(capture, tr)
            output = Output.predict(input, model, False)
            output.threshold = 0.5
            outputs.append(output)
            false_dga[(capture.name, tr.name)][('frac', model.name)] = output.DF.reset().unique().dga().DF.shape[0]
            if tr.name not in ['DOMAIN', 'LAST']:
                false_dga_levels[(capture.name, tr.name, model.name)] = output.DF.reset().unique().level_count.T.to_dict()
                level = output.DF.unique().level_dn
                level.loc[level['level'] == '1'].to_csv('/tmp/%s_%s_%s.csv' % (capture.name, tr.name, model.name))
                if None is level_1_df:
                    level_1_df = level.loc[level['level'] == '1']
                else:
                    level_1_df = level_1_df.merge(level.loc[level['level'] == '1'], left_index=True, right_index=True, how='outer', suffixes=['', (capture.name, tr.name, model.name)])
            dga_dn_levels[(capture.name, tr.name, model.name)] = output.DF.reset().unique().dga().level_dn
            false_dga_levels_dn[(capture.name, tr.name, model.name)] = output.DF.reset().unique().dga().level_count_dn(normalize=False).T.to_dict()
            false_dga_levels_dn_norm[(capture.name, tr.name, model.name)] = output.DF.reset().unique().dga().level_count_dn(normalize=True).T.to_dict()

## Caputre normal_31 level distribution

Necessario per capire la distribuzione dei livelli, per capire quanto sbaglia spesso ogni tipo di livello rispetto agli altri.
Ad esempio so che trova solo 8 dn per dga sbagliando per il livello-1, mentre per il livello-2 ne trova dieci volte tanto, allora devo capire se magari posso avere dieci volte tanto i ilivello-2 rispetto ai livello-1

In [4]:
def count(x):
    c = 1 + Transformer.nosfx(x).count('.')
    return str(c) if c <= 2 else '>3'
ld = normal['31'].dn.to_frame()
ld['level'] = ld['dn'].apply(count)
ld = ld.value_counts(subset='level', normalize=False, sort=False).to_frame()
ld.loc['tot'] = ld.sum(axis=0)
ld = ld.T
print(ld.to_markdown())

|    |    1 |     2 |    >3 |   tot |
|---:|-----:|------:|------:|------:|
|  0 | 1124 | 22985 | 16012 | 40121 |

In [5]:
ld_pr = pd.DataFrame(false_dga_levels_dn).T
ld_pr['tot'] = ld_pr.sum(axis=1)
print(ld_pr.sort_values(by=['tot']))

                                       1    2   >3   tot
normal_31 DOMAIN   NOSFX_1-30          4   61   10    75
                   OLD_LAST            3   65    9    77
                   NOSFX_NOPUNCT_1-30  5   74   17    96
          NOSFX    NOSFX_1-30          5   97   24   126
          LAST     OLD_LAST            4  153   24   181
                   NOSFX_1-30          5  154   32   191
                   NOSFX_NOPUNCT_1-30  8  188   82   278
          NOSFX    OLD_LAST            4  564  524  1092
          NOSFX_NP OLD_LAST            4  564  524  1092
                   NOSFX_1-30          5  562  598  1165
          NOSFX    NOSFX_NOPUNCT_1-30  8  622  594  1224
          NOSFX_NP NOSFX_NOPUNCT_1-30  8  622  594  1224

tot indica il numero totale di dga predetti dalla nn (il top sarebbe stato tot=0)
Si può notare che il livello-1 sia parecchio minore degli altri, ma questo non sappiamo se perché effettivamente
la nn funzioni meglio con dn di livello-1 oppure perché siano in numero minore rispetto agli altri.

In [13]:
#ld_pr_norm = pd.DataFrame(false_dga_levels_dn_norm).T
#ld_pr_norm['tot'] = ld_pr_norm.sum(axis=1)
#print(ld_pr_norm.sort_values(by=['tot']).mul(100).to_string(float_format='%0.2f%%'))

Questi sono i valori normalizzati rispetto comunque al totale dei dga,
non fornendo nessuna informazione aggiuntiva rispetto alla cella precedente

In [12]:
ld_pr_norm = ld_pr.copy()
for c in ld.columns:
    ld_pr_norm[[c]] = ld_pr_norm[[c]].div(ld[c][0])
print(ld_pr_norm.mul(100).sort_values(by=['tot']).to_string(float_format='%0.2f%%'))
print(ld)

                                          1     2    >3   tot
normal_31 DOMAIN   NOSFX_1-30         0.36% 0.27% 0.06% 0.19%
                   OLD_LAST           0.27% 0.28% 0.06% 0.19%
                   NOSFX_NOPUNCT_1-30 0.44% 0.32% 0.11% 0.24%
          NOSFX    NOSFX_1-30         0.44% 0.42% 0.15% 0.31%
          LAST     OLD_LAST           0.36% 0.67% 0.15% 0.45%
                   NOSFX_1-30         0.44% 0.67% 0.20% 0.48%
                   NOSFX_NOPUNCT_1-30 0.71% 0.82% 0.51% 0.69%
          NOSFX    OLD_LAST           0.36% 2.45% 3.27% 2.72%
          NOSFX_NP OLD_LAST           0.36% 2.45% 3.27% 2.72%
                   NOSFX_1-30         0.44% 2.45% 3.73% 2.90%
          NOSFX    NOSFX_NOPUNCT_1-30 0.71% 2.71% 3.71% 3.05%
          NOSFX_NP NOSFX_NOPUNCT_1-30 0.71% 2.71% 3.71% 3.05%
level     1      2     >3    tot
0      1124  22985  16012  40121

Questa cella invece ci indica come il numero di domini errati sia sempre intorno al 0.40% rispetto al totale di ogni livello.
Infatti sebbene i domini di livello-1 predetti male fossero in numero molto minore rispetto agli altri, si può ora confermare che fosse a causa del loro esiguo numero rispetto agli altri livelli.
Analizzando la tabella, possiamo notare come i risultati migliori siano arrivati nel caso in cui il nome di dominio venisse modificato al fine di prelevare solamente il DOMAIN, ovvero la label subito dopo il suffisso (_ab.cd.ef.ciao.co.uk -> ciao_).
Nonostante questo, sembrerebbe comportarsi leggermente meglio la NN che considera la punteggiatura.
La NN OLD_LAST invece funziona allo stesso modo di NOSFX per i livello-1, ma per i livelli-(>1) subisce un forte peggioramento.
*Interessante* è lo 0.31% ottenuto da NOSFX/NOSFX_1-30: è comunque uno 63% in più rispetto al caso migliore (0.19%) ma è importante in quanto esso non considera solamente il livello-1 bensì tutti i livelli, riuscendo comunque a capire abbastanza bene di che tipologia si trattano.

In [28]:

for ddl in dga_dn_levels:
    if ddl[1] == 'DOMAIN':
        print(ddl)
        print(dga_dn_levels[ddl].loc[dga_dn_levels[ddl]['level'] == '2'].iloc[0:10], '\n\n')

('normal_31', 'DOMAIN', 'NOSFX_1-30')
                                 dn level         Y
4                  www.msftncsi.com     2  0.997085
8     d2tpbry8f62bv9.cloudfront.net     2  0.937418
649                     s.ytimg.com     2  0.762953
684          tap.rubiconproject.com     2  0.900559
721                   pix.btrll.com     2  0.552949
858                   pa.rxthdr.com     2  0.638032
2125                   ws3.rqtrk.eu     2  0.613427
3594                tags.tiqcdn.com     2  0.561258
3825                  cdn.yldbt.com     2  0.846280
3827          segment-data.zqtk.net     2  0.984952


('normal_31', 'DOMAIN', 'NOSFX_NOPUNCT_1-30')
                           dn level         Y
4            www.msftncsi.com     2  0.905194
188       api.usemessages.com     2  0.855405
721             pix.btrll.com     2  0.821547
727              ib.adnxs.com     2  0.500183
858             pa.rxthdr.com     2  0.937538
1049   fw.adsafeprotected.com     2  0.766837
1943                u.xgoo.jp     2  0.723935
2125             ws3.rqtrk.eu     2  0.617984
2303                u.xgoo.jp     2  0.723935
3752  site-1586.bcvp0rtal.com     2  0.924109


('normal_31', 'DOMAIN', 'OLD_LAST')
                           dn level         Y
4            www.msftncsi.com     2  0.890153
649               s.ytimg.com     2  0.877527
929            vjs.zencdn.net     2  0.539497
1943                u.xgoo.jp     2  0.533077
2303                u.xgoo.jp     2  0.533077
3476     www.static-cisco.com     2  0.554288
3752  site-1586.bcvp0rtal.com     2  0.978612
3825            cdn.yldbt.com     2  0.807637
3827    segment-data.zqtk.net     2  0.890088
3838            cdn.yldbt.com     2  0.807637

Si può notare come la distribuzione

In [31]:

for ddl in dga_dn_levels:
    if ddl[1] == 'NOSFX':
        print(ddl)
        print(dga_dn_levels[ddl].loc[dga_dn_levels[ddl]['level'] == '2'].iloc[0:10], '\n\n')

('normal_31', 'NOSFX', 'NOSFX_1-30')
                                 dn level         Y
47     d6wjo2hisqfy2.cloudfront.net     2  0.869306
76    d2otzcfu7vqzws.cloudfront.net     2  0.984028
97    d2us8jqsezvhge.cloudfront.net     2  0.549986
136    dt3gesfwvzdvk.cloudfront.net     2  0.750309
154   d1spgg7psata7d.cloudfront.net     2  0.841927
344   d1z2jf7jlzjs58.cloudfront.net     2  0.719612
792   d1ibts9hn2apvm.cloudfront.net     2  0.989462
1771                  www.goo.ne.jp     2  0.524989
1945                adcdn.goo.ne.jp     2  0.991142
3510   dj5ag5n6bpdxo.cloudfront.net     2  0.758057


('normal_31', 'NOSFX', 'NOSFX_NOPUNCT_1-30')
                                dn level         Y
4                 www.msftncsi.com     2  0.998228
15    drcwo519tnci7.cloudfront.net     2  0.994278
47    d6wjo2hisqfy2.cloudfront.net     2  0.812799
77             assets.adobedtm.com     2  0.944300
78    dc8hdnsmzapvm.cloudfront.net     2  0.962107
96   d296je7bbdd650.cloudfront.net     2  0.989387
97   d2us8jqsezvhge.cloudfront.net     2  0.861735
101          secure.quantserve.com     2  0.940791
136   dt3gesfwvzdvk.cloudfront.net     2  0.831665
154  d1spgg7psata7d.cloudfront.net     2  0.993583


('normal_31', 'NOSFX', 'OLD_LAST')
                                dn level         Y
4                 www.msftncsi.com     2  0.999620
8    d2tpbry8f62bv9.cloudfront.net     2  0.999879
10                 www.mozilla.org     2  0.587084
15    drcwo519tnci7.cloudfront.net     2  0.999608
47    d6wjo2hisqfy2.cloudfront.net     2  0.999899
76   d2otzcfu7vqzws.cloudfront.net     2  0.995116
78    dc8hdnsmzapvm.cloudfront.net     2  0.987542
96   d296je7bbdd650.cloudfront.net     2  0.999516
97   d2us8jqsezvhge.cloudfront.net     2  0.994209
101          secure.quantserve.com     2  0.997826

In [39]:
from Capture import training
from IO import DF

training_DF = DF(training.dn, np.zeros(training.dn.shape[0]), np.zeros(training.dn.shape[0]))

print(training_DF.level_count_dn().to_frame().T)

level         1        2        >3
0      0.926673  0.07323  0.000096

In [73]:
string_distribution(training, 'cloudfront')

legit=2, dga=0

                        dn  label  class
47916  cloudfrontier.co.kr  legit  alexa
98557    cdncloudfront.com  legit  alexa

In [74]:
string_distribution(training, 'mozilla')

legit=6, dga=3

                           dn  label   class
21625       remove-mozilla.by    dga  nymaim
217301          mozillazg.com  legit   alexa
371306             mozilla.de  legit   alexa
412812     valuablemozilla.ht    dga  nymaim
541695    williamsmozilla.net    dga  nymaim
576337  mozilla-community.org  legit   alexa
576338          mozillaes.org  legit   alexa
576339    mozillafestival.org  legit   alexa
576340          mozillapl.org  legit   alexa

In [75]:
string_distribution(training, 'goo.')

legit=43, dga=24

                           dn  label         class
3802                mamgoo.at  legit         alexa
34073               bligoo.cl  legit         alexa
39210                qegoo.cn  legit         alexa
53680             kagoo.co.uk  legit         alexa
55902     rhcyoyawfsgoo.co.uk    dga  cryptolocker
...                       ...    ...           ...
639788  tufwxpopin6d8yhgoo.ru    dga        rovnix
646283            lasingoo.se  legit         alexa
649410              dorgoo.sn  legit         alexa
668099        euivvbccbgoo.us    dga         tinba
674677       yugrqnnmfgoo.xyz    dga         tinba

[67 rows x 3 columns]

Sarebbe bello (?) cercare di trovare una correlazione tra i domini sbagliati e quelli che non lo sono rispetto al dataset di training.
Ovvero quante volte compare la stringa del d1 nel training.

In [99]:
o = Output.predict(Input(normal['31'], Transformer.DOMAIN), Model.load(1), False)

dn = o.DF.unique().with_dn().DF.index.get_level_values(1).to_numpy()
Y = o.DF.unique().with_dn().DF['Y'].to_numpy()

pd.DataFrame({'dn': dn, 'Y': Y})

                               dn             Y
0      updatekeepalive.mcafee.com  3.625512e-03
1      updatekeepalive.mcafee.com  3.625512e-03
2        www.google-analytics.com  4.622966e-03
3        www.google-analytics.com  4.622966e-03
4                www.msftncsi.com  9.970855e-01
...                           ...           ...
40116             email.seznam.cz  1.682643e-13
40117             email.seznam.cz  1.682643e-13
40118             email.seznam.cz  1.682758e-13
40119             email.seznam.cz  1.682758e-13
40120             email.seznam.cz  1.682758e-13

[40121 rows x 2 columns]