# Test normal capture
Successivamente viene analizzato un pcap file relativo ad una traffico di rete generato da un computer non infetto. Questo ci permette di valutare la capacità della rete di predire correttamente i nomi di dominio benigni in un contesto reale.

In [2]:
from Capture import normal, mixed, botnet, training, Capture
from IO import Input, Output, DF
from Model import Model
from DomainLevel import Transformer
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report

/home/princio/anaconda3/envs/keras/lib/python3.8/site-packages/tldextract/.tld_set
/home/princio/anaconda3/envs/keras/lib/python3.8/site-packages/tldextract/.tld_set

In [3]:
def string_distribution(DF, string):
    df = DF.readable[DF.dn.str.find(string) >= 0]
    l = df[df['label'] == 'legit'].shape[0]
    d = df[df['label'] == 'dga'].shape[0]
    #print(f'legit={l}, dga={d}')
    return df, l, d
    #return df, df[df['label'] == 'legit'].shape[0], df[df['label'] == 'dga'].shape[0]

In [4]:
import jellyfish
def string_similarity(DF, string):
    sim = DF['dn_domain'].apply(lambda x: jellyfish.jaro_winkler(string, x))
    df = DF[sim > 0.9]
    l = df[df['label'] == 'legit'].shape[0]
    d = df[df['label'] == 'dga'].shape[0]
    #print(f'legit={l}, dga={d}')
    return df, l, d

## Predizione con più modelli e trasformazioni
Vengono effettuate predizioni del pcap con modelli diversi e trasformazioni diverse.
I modelli sono i seguenti:
- modello NOSFX, ovvero allenato con input privati del suffisso;
- modello NOSFX_NP, come NOSFX ma gli input sono senza il carattere punto [.] (NP sta per NoPoint);
- modello LAST, allenato con solamente il livello maggiore, o l'ultimo da destra (aaa.bbb.ccc.co.uk -> aaa)

Le transformazioni sono le stesse dei modelli, più la trasformazione *DOMAIN*, ovvero quella che estrae solamente il primo livello successivo al suffisso (aaa.bbb.ccc.co.uk -> ccc).
Ogni predizione verrà indicata con il nome della trasformazione, *slash*, il nome del modello. Quindi la predizione con trasformazione NOSFX e modello LAST verrà indicata con NOSFX/LAST.

Di seguito vengono effettuate tutte le predizioni. Per ognuna si presta particolare attenzione a quei nomi di dominio predetti erroneamente come DGA (essendo il computer non infetto, tutti gli input sono sicuramente legittimi). Inoltre si analizzano anche i vari nomi di dominio sulla base del loro numero di livelli.

L'output di questa cella mostra il numero di nomi di dominio aventi numero di livelli (oltre il suffisso) pari a 1, 2 o maggiori di 2.

In [5]:
captures = [normal['27']]

models = [Model.load(1), Model.load(2), Model.load(-3)]
trs= [ Transformer.NOSFX, Transformer.NOSFX_NP, Transformer.DOMAIN, Transformer.LAST ]

reports = {}
dga_df = {}
leveldn = {}
DF_s = {}
dga_leveldn = {}
dga_leveldn_count = {}
dga_leveldn_norm_count = {}
for capture in captures:
    for tr in trs:
        for model in models:
            input  = Input(capture, tr)
            output = Output.predict(input, model, False)
            output.threshold = 0.5
            DF_s[(tr.name, model.name)] = output.DF
            Y_pred = [0 if y <= 0.5 else 1 for y in output.prediction.to_numpy()]
            Y_true = [0] * len(Y_pred)
            reports[(capture.name, tr.name, model.name)] = classification_report(Y_true, Y_pred, digits=6, zero_division=0)
            DF = output.DF.unique().default()
            leveldn[(capture.name, tr.name, model.name)] = DF.frame().value_counts(subset=['level_dn'], sort=False, normalize=True).T.to_dict()
            DF.dga().default()
            dga_df[(capture.name, tr.name, model.name)] = DF.frame()
            dga_leveldn[(capture.name, tr.name, model.name)] = DF.frame()
            dga_leveldn_count[(capture.name, tr.name, model.name)] = DF.frame().value_counts(subset=['level_dn'], sort=False, normalize=False).T.to_dict()
            dga_leveldn_norm_count[(capture.name, tr.name, model.name)] = DF.frame().value_counts(subset=['level_dn'], sort=False, normalize=True).T.to_dict()

capture_leveldn_count = DF.reset().frame().value_counts(subset='level_dn', normalize=False, sort=False).to_frame()
capture_leveldn_count.loc['tot'] = capture_leveldn_count.sum(axis=0)
capture_leveldn_count = capture_leveldn_count.T
capture_leveldn_count

level_dn     1      2    >2    tot
0         1007  15636  9817  26460

### Analisi risultati

In [6]:
for d in reports:
    print(reports[d])

              precision    recall  f1-score   support

           0   1.000000  0.974414  0.987041     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.974414     26460
   macro avg   0.500000  0.487207  0.493521     26460
weighted avg   1.000000  0.974414  0.987041     26460

              precision    recall  f1-score   support

           0   1.000000  0.671542  0.803500     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.671542     26460
   macro avg   0.500000  0.335771  0.401750     26460
weighted avg   1.000000  0.671542  0.803500     26460

              precision    recall  f1-score   support

           0   1.000000  0.748526  0.856179     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.748526     26460
   macro avg   0.500000  0.374263  0.428090     26460
weighted avg   1.000000  0.748526  0.856179     26460

              precision    recall  f1-score   support

           0   1.000000  0.706841  0.828244     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.706841     26460
   macro avg   0.500000  0.353420  0.414122     26460
weighted avg   1.000000  0.706841  0.828244     26460

              precision    recall  f1-score   support

           0   1.000000  0.671542  0.803500     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.671542     26460
   macro avg   0.500000  0.335771  0.401750     26460
weighted avg   1.000000  0.671542  0.803500     26460

              precision    recall  f1-score   support

           0   1.000000  0.748526  0.856179     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.748526     26460
   macro avg   0.500000  0.374263  0.428090     26460
weighted avg   1.000000  0.748526  0.856179     26460

              precision    recall  f1-score   support

           0   1.000000  0.934014  0.965881     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.934014     26460
   macro avg   0.500000  0.467007  0.482941     26460
weighted avg   1.000000  0.934014  0.965881     26460

              precision    recall  f1-score   support

           0   1.000000  0.950378  0.974558     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.950378     26460
   macro avg   0.500000  0.475189  0.487279     26460
weighted avg   1.000000  0.950378  0.974558     26460

              precision    recall  f1-score   support

           0   1.000000  0.984505  0.992192     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.984505     26460
   macro avg   0.500000  0.492252  0.496096     26460
weighted avg   1.000000  0.984505  0.992192     26460

              precision    recall  f1-score   support

           0   1.000000  0.954308  0.976620     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.954308     26460
   macro avg   0.500000  0.477154  0.488310     26460
weighted avg   1.000000  0.954308  0.976620     26460

              precision    recall  f1-score   support

           0   1.000000  0.930499  0.963998     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.930499     26460
   macro avg   0.500000  0.465249  0.481999     26460
weighted avg   1.000000  0.930499  0.963998     26460

              precision    recall  f1-score   support

           0   1.000000  0.948186  0.973404     26460
           1   0.000000  0.000000  0.000000         0

    accuracy                       0.948186     26460
   macro avg   0.500000  0.474093  0.486702     26460
weighted avg   1.000000  0.948186  0.973404     26460

### Accuratezza e prestazioni
Il parametro di accuracy

### Input unici a seconda del tipo di trasformazione

In [11]:

pd.options.display.float_format = '{:,.2f}'.format
unique_dn_level_count = None

tr_rows = {}

unique_row = list(DF_s.values())[0].reset().unique_dn().frame().value_counts(subset='level_dn', sort=False, normalize=False)
unique_row.loc['tot'] = unique_row.sum()
for tr in trs:
    
    dn_cols = DF_s[(tr.name, 'LAST')].reset().unique().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    dn_cols.loc['tot'] = dn_cols.sum()
    diff_cols = dn_cols.rsub(unique_row)
    norm_cols = dn_cols.div(unique_row).mul(100)
    tr_rows[tr.name] = pd.concat([dn_cols, diff_cols, norm_cols], axis=0, keys=['unique dn', 'unique dn-unique X', '%'])

pd.DataFrame(tr_rows).T\
.sort_values(by=('unique dn-unique X', 'tot'))\
.style\
.format({(d, l): "{:,.0f}" for d in ['unique dn', 'unique dn-unique X'] for l in ['1','2','>2', 'tot']})\
.format({('%', l): "{:,.2f}" for l in ['1','2','>2', 'tot']})\
.set_caption('Unique dn for each different transformation')

#     if unique_dn_level_count is None:
#         unique_dn_level_count = DF_s[kk].reset().unique_dn().frame().value_counts(subset='level_dn', sort=False, normalize=False)
#         unique_level_count[('unique', 'unique DNs')] = unique_dn_level_count
#         unique_dn_level_count.loc['tot'] = unique_dn_level_count.sum()
        
#     tr_by_levels[tr] = {
#         'unique_X': DF_s[kk].reset().unique().frame().value_counts(subset='level_dn', sort=False, normalize=False), 
#         'diff': 
#     }
#     tmp = DF_s[kk].reset().unique().frame().value_counts(subset='level_dn', sort=False, normalize=False)
#     tmp.loc['tot'] = tmp.sum()
#     unique_level_count[('diff', k)] = tmp.rsub(unique_dn_level_count)
#     unique_level_count[('unique_dn', k)] = unique_dn_level_count

# pd.DataFrame(unique_level_count).T.sort_values(by='tot').\
#     style.set_caption("Difference between unique dns and unique inputs")

### Input unici riconosciuti come legit

In [16]:

pd.options.display.float_format = '{:,.2f}'.format

tr_rows = {}

for k in DF_s:
    legit_cols = DF_s[k].reset().unique().legit().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    legit_dn_cols = DF_s[k].reset().unique_dn().legit().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    legit_cols.loc['tot'] = legit_cols.sum()
    legit_dn_cols.loc['tot'] = legit_dn_cols.sum()
    dga_cols = DF_s[k].reset().unique().dga().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    dga_dn_cols = DF_s[k].reset().unique_dn().dga().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    dga_cols.loc['tot'] = dga_cols.sum()
    dga_dn_cols.loc['tot'] = dga_dn_cols.sum()
    tr_rows[k] = pd.concat([legit_dn_cols, legit_cols, dga_dn_cols, dga_cols], axis=0, keys=['legit unique dn', 'legit unique X', 'dga unique dn', 'dga unique X'])

pd.DataFrame(tr_rows).T#\
# .sort_values(by=('unique dn-unique X', 'tot'))\
# .style\
# .format({(d, l): "{:,.0f}" for d in ['unique dn', 'unique dn-unique X'] for l in ['1','2','>2', 'tot']})\
# .format({('%', l): "{:,.2f}" for l in ['1','2','>2', 'tot']})\
# .set_caption('Unique dn for each different transformation')

                            legit unique dn                  legit unique X  \
level_dn                                  1     2   >2   tot              1
NOSFX    NOSFX_1-30                     111  1448  804  2363            106
         NOSFX_NOPUNCT_1-30             111  1139  486  1736            106
         LAST                           109  1180  551  1840            104
NOSFX_NP NOSFX_1-30                     111  1178  536  1825            106
         NOSFX_NOPUNCT_1-30             111  1139  486  1736            106
         LAST                           109  1180  551  1840            104
DOMAIN   NOSFX_1-30                     111  1336  800  2247             84
         NOSFX_NOPUNCT_1-30             111  1452  794  2357             84
         LAST                           109  1490  820  2419             82
LAST     NOSFX_1-30                     111  1395  812  2318            104
         NOSFX_NOPUNCT_1-30             111  1370  776  2257            104
         LAST                           109  1389  811  2309            102

                                             dga unique dn                 \
level_dn                        2   >2   tot             1    2   >2  tot
NOSFX    NOSFX_1-30          1425  804  2335             1   81   29  111
         NOSFX_NOPUNCT_1-30  1122  486  1714             1  390  347  738
         LAST                1162  551  1817             3  349  282  634
NOSFX_NP NOSFX_1-30          1164  536  1806             1  351  297  649
         NOSFX_NOPUNCT_1-30  1122  486  1714             1  390  347  738
         LAST                1162  551  1817             3  349  282  634
DOMAIN   NOSFX_1-30           499   93   676             1  193   33  227
         NOSFX_NOPUNCT_1-30   494   91   669             1   77   39  117
         LAST                 504   94   680             3   39   13   55
LAST     NOSFX_1-30           811  582  1497             1  134   21  156
         NOSFX_NOPUNCT_1-30   788  547  1439             1  159   57  217
         LAST                 808  581  1491             3  140   22  165

                            dga unique X
level_dn                               1    2   >2  tot
NOSFX    NOSFX_1-30                    1   81   29  111
         NOSFX_NOPUNCT_1-30            1  384  347  732
         LAST                          3  344  282  629
NOSFX_NP NOSFX_1-30                    1  342  297  640
         NOSFX_NOPUNCT_1-30            1  384  347  732
         LAST                          3  344  282  629
DOMAIN   NOSFX_1-30                    1   29    6   36
         NOSFX_NOPUNCT_1-30            1   34    8   43
         LAST                          3   24    5   32
LAST     NOSFX_1-30                    1  132   15  148
         NOSFX_NOPUNCT_1-30            1  155   50  206
         LAST                          3  135   16  154

In [27]:

pd.options.display.float_format = '{:,.4f}'.format

tr_rows = {}

unique_row = list(DF_s.values())[0].reset().unique_dn().frame().value_counts(subset='level_dn', sort=False, normalize=False)
unique_row.loc['tot'] = unique_row.sum()

for k in DF_s:
    legit_cols = DF_s[k].reset().unique().legit().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    legit_cols.loc['tot'] = legit_cols.sum()
    dga_cols = DF_s[k].reset().unique().dga().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    dga_cols.loc['tot'] = dga_cols.sum()
    tot_cols = dga_cols.add(legit_cols)
    tr_rows[k] = pd.concat([legit_cols, dga_cols, dga_cols.div(tot_cols), tot_cols], axis=0, keys=['legit unique X', 'dga unique X', 'dga unique X/unique tot', 'tot'])

pd.DataFrame(tr_rows).T.sort_values(('dga unique X/unique tot', 'tot')).convert_dtypes()#\
# .sort_values(by=('unique dn-unique X', 'tot'))\
# .style\
# .format({(d, l): "{:,.0f}" for d in ['unique dn', 'unique dn-unique X'] for l in ['1','2','>2', 'tot']})\
# .format({('%', l): "{:,.2f}" for l in ['1','2','>2', 'tot']})\
# .set_caption('Unique dn for each different transformation')

                            legit unique X                  dga unique X       \
                                         1     2   >2   tot            1    2
DOMAIN   LAST                           82   504   94   680            3   24
NOSFX    NOSFX_1-30                    106  1425  804  2335            1   81
DOMAIN   NOSFX_1-30                     84   499   93   676            1   29
         NOSFX_NOPUNCT_1-30             84   494   91   669            1   34
LAST     NOSFX_1-30                    104   811  582  1497            1  132
         LAST                          102   808  581  1491            3  135
         NOSFX_NOPUNCT_1-30            104   788  547  1439            1  155
NOSFX    LAST                          104  1162  551  1817            3  344
NOSFX_NP LAST                          104  1162  551  1817            3  344
         NOSFX_1-30                    106  1164  536  1806            1  342
NOSFX    NOSFX_NOPUNCT_1-30            106  1122  486  1714            1  384
NOSFX_NP NOSFX_NOPUNCT_1-30            106  1122  486  1714            1  384

                                      dga unique X/unique tot                \
                              >2  tot                       1      2     >2
DOMAIN   LAST                  5   32                  0.0353 0.0455 0.0505
NOSFX    NOSFX_1-30           29  111                  0.0093 0.0538 0.0348
DOMAIN   NOSFX_1-30            6   36                  0.0118 0.0549 0.0606
         NOSFX_NOPUNCT_1-30    8   43                  0.0118 0.0644 0.0808
LAST     NOSFX_1-30           15  148                  0.0095 0.1400 0.0251
         LAST                 16  154                  0.0286 0.1432 0.0268
         NOSFX_NOPUNCT_1-30   50  206                  0.0095 0.1644 0.0838
NOSFX    LAST                282  629                  0.0280 0.2284 0.3385
NOSFX_NP LAST                282  629                  0.0280 0.2284 0.3385
         NOSFX_1-30          297  640                  0.0093 0.2271 0.3565
NOSFX    NOSFX_NOPUNCT_1-30  347  732                  0.0093 0.2550 0.4166
NOSFX_NP NOSFX_NOPUNCT_1-30  347  732                  0.0093 0.2550 0.4166

                                    tot
                               tot    1     2   >2   tot
DOMAIN   LAST               0.0449   85   528   99   712
NOSFX    NOSFX_1-30         0.0454  107  1506  833  2446
DOMAIN   NOSFX_1-30         0.0506   85   528   99   712
         NOSFX_NOPUNCT_1-30 0.0604   85   528   99   712
LAST     NOSFX_1-30         0.0900  105   943  597  1645
         LAST               0.0936  105   943  597  1645
         NOSFX_NOPUNCT_1-30 0.1252  105   943  597  1645
NOSFX    LAST               0.2572  107  1506  833  2446
NOSFX_NP LAST               0.2572  107  1506  833  2446
         NOSFX_1-30         0.2617  107  1506  833  2446
NOSFX    NOSFX_NOPUNCT_1-30 0.2993  107  1506  833  2446
NOSFX_NP NOSFX_NOPUNCT_1-30 0.2993  107  1506  833  2446

In [23]:

pd.options.display.float_format = '{:,.2f}'.format
unique_level_count = {}
unique_dn_level_count = None
#b_index = [l for l in ['1', '2', '>2']]
for kk in DF_s:
    k = kk[0]
    if ('diff', k) in unique_level_count: continue
    if unique_dn_level_count is None:
        unique_dn_level_count = DF_s[kk].reset().unique_dn().frame().value_counts(subset='level_dn', sort=False, normalize=False)
        unique_level_count[('unique', 'unique DNs')] = unique_dn_level_count
        unique_dn_level_count.loc['tot'] = unique_dn_level_count.sum()
    tmp = DF_s[kk].reset().unique().frame().value_counts(subset='level_dn', sort=False, normalize=False)
    tmp.loc['tot'] = tmp.sum()
    unique_level_count[('diff', k)] = tmp.rsub(unique_dn_level_count)
    unique_level_count[('unique_dn', k)] = unique_dn_level_count

pd.DataFrame(unique_level_count).T.sort_values(by='tot').\
    style.set_caption("Difference between unique dns and unique inputs")

In [104]:
pd.options.display.float_format = '{:,.2f}'.format

df_dga_level_count = pd.DataFrame()
for k in DF_s:
    df_dga_level_count[k] = DF_s[k].unique().dga().frame().value_counts(subset=['level_dn'], sort=False, normalize=True).T()
df_dga_leveldn_count['tot'] = df_dga_leveldn_count.sum(axis=1)

for k in DF_s:
    df_dga_leveldn_count_norm[k] = df_dga_leveldn_count[c].div(df_dga_leveldn_count[('tot',)]).mul(100)

#df_dga_leveldn_count = pd.DataFrame(dga_leveldn_count).T

#df_dga_leveldn_count.sort_values(by=[('tot',)], axis=0)

df_dga_leveldn_count = pd.DataFrame(dga_leveldn_count).T
df_dga_leveldn_count['tot'] = df_dga_leveldn_count.sum(axis=1)
df_dga_leveldn_count_norm = df_dga_leveldn_count.sort_values(by=[('tot',)], axis=0).copy()
for c in df_dga_leveldn_count.columns:
    if c != ('tot',):
        df_dga_leveldn_count_norm[c[0] + '%'] = df_dga_leveldn_count[c].div(df_dga_leveldn_count[('tot',)]).mul(100)
df_dga_leveldn_count_norm

TypeError: 'Series' object is not callable

In [ ]:
### DGA per nomi di dominio completi unici
Dalla tabella seguente si può notare come

In [3]:
pd.options.display.float_format = '{:,.2f}'.format

dga_level_count = {}
for k in DF_s:
    dga_level_count[k] = DF_s[k].reset().unique_dn().dga().frame().value_counts(subset=['level_dn'], sort=False, normalize=False).T
df_dga_level_count = pd.DataFrame(dga_level_count).T
df_dga_level_count.columns = df_dga_level_count.columns.get_level_values(0)
series_tot = df_dga_level_count.sum(axis=1).rename('tot')
for c in df_dga_level_count.columns:
        df_dga_level_count['% ' + c] = df_dga_level_count[c].div(series_tot).mul(100)
pd.concat([df_dga_level_count, series_tot], axis=1).sort_values(by=['tot'])

                             1    2   >2  % 1   % 2  % >2  tot
DOMAIN   LAST                3   39   13 5.45 70.91 23.64   55
NOSFX    NOSFX_1-30          1   81   29 0.90 72.97 26.13  111
DOMAIN   NOSFX_NOPUNCT_1-30  1   77   39 0.85 65.81 33.33  117
LAST     NOSFX_1-30          1  134   21 0.64 85.90 13.46  156
         LAST                3  140   22 1.82 84.85 13.33  165
         NOSFX_NOPUNCT_1-30  1  159   57 0.46 73.27 26.27  217
DOMAIN   NOSFX_1-30          1  193   33 0.44 85.02 14.54  227
NOSFX    LAST                3  349  282 0.47 55.05 44.48  634
NOSFX_NP LAST                3  349  282 0.47 55.05 44.48  634
         NOSFX_1-30          1  351  297 0.15 54.08 45.76  649
NOSFX    NOSFX_NOPUNCT_1-30  1  390  347 0.14 52.85 47.02  738
NOSFX_NP NOSFX_NOPUNCT_1-30  1  390  347 0.14 52.85 47.02  738

In [63]:
pd.options.display.float_format = '{:,.2f}'.format

legit_level_count = {}
for k in DF_s:
    legit_level_count[k] = DF_s[k].reset().unique().legit().frame().value_counts(subset=['level_dn'], sort=False, normalize=False).T
df_legit_level_count = pd.DataFrame(legit_level_count).T
df_legit_level_count.columns = df_legit_level_count.columns.get_level_values(0)
series_tot = df_legit_level_count.sum(axis=1).rename('tot')
for c in df_legit_level_count.columns:
        df_legit_level_count['% ' + c] = df_legit_level_count[c].div(series_tot).mul(100)
pd.concat([df_legit_level_count, series_tot], axis=1).sort_values(by=['tot'], ascending=False)

                               1     2   >2   % 1   % 2  % >2   tot
NOSFX    NOSFX_1-30          106  1425  804  4.54 61.03 34.43  2335
         LAST                104  1162  551  5.72 63.95 30.32  1817
NOSFX_NP LAST                104  1162  551  5.72 63.95 30.32  1817
         NOSFX_1-30          106  1164  536  5.87 64.45 29.68  1806
NOSFX    NOSFX_NOPUNCT_1-30  106  1122  486  6.18 65.46 28.35  1714
NOSFX_NP NOSFX_NOPUNCT_1-30  106  1122  486  6.18 65.46 28.35  1714
LAST     NOSFX_1-30          104   811  582  6.95 54.18 38.88  1497
         LAST                102   808  581  6.84 54.19 38.97  1491
         NOSFX_NOPUNCT_1-30  104   788  547  7.23 54.76 38.01  1439
DOMAIN   LAST                 82   504   94 12.06 74.12 13.82   680
         NOSFX_1-30           84   499   93 12.43 73.82 13.76   676
         NOSFX_NOPUNCT_1-30   84   494   91 12.56 73.84 13.60   669

La tabella mostra il numero di dga predetti, in numeri assoluti e relativi. 

**TL,DR;**
- Si noti che la predizione su DOMAIN/* e LAST/* non dipende dal numero di subdomains, quelli qui indicati si riferiscono ai dn, non all'input.
- I risultati migliori si ottengono nel caso in cui prelevo solo il DOMAIN. (ovvero la situazione più simile al dataset)
- Il numero di errori di NOSFX/NOSFX rispetto a DOMAIN/NOSFX è pari a 111/36 ~ 3.
- Il numero di errori di NOSFX/NOSFX rispetto a NOSFX_NP/NOSFX è pari a 640/11 ~ 5.8.
- Il numero di errori di NOSFX/NOSFX rispetto a NOSFX/NOSFX_NP è pari a 640/11 ~ 5.8.
- Il modello NOSDFX_NOPUNCT non funziona mai meglio degli altri, ha un comportamento simile, ma sempre peggiore, agli altri solo in DOMAIN/NOSFX_NP e LAST/NOSFX_NP
- Il modello NOSFX* mostra risultati migliori se considero un solo livello come in DOMAIN e LAST, però funziona meglio degli altri con trasformazioni multi-livello. Questo indica che è possibile **ottenere buoni risultati considerando più livelli**.
- Anche quei modelli allenati (NOSFX*)su più livelli ottengono risultati migliori se considero un solo livello
#### 1) Quali differenze ci sono tra i dga sbagliati per DOMAIN/*?
#### 2) Quanti di quelli *sbagliati* possono trarre vantaggio dal livelli >1?

### Numeri di livelli nel dataset di training
Le prossime celle cercano se vi è una correlazione tra l'incapacità di predire nomi di dominio multilivello ad una mancaza di questi nel dataset di training.

In [4]:
from IO import DF as DFClass
Y = [0.0 if l == 'legit' else 1.0 for l in training.label.to_numpy()]
training_DF = DFClass(training.dn, training.dn, Y)
df_total = training_DF.frame()
df_dga = training_DF.dga().frame()
df_legit = training_DF.legit().frame()

In [5]:
pd.options.display.float_format = '{:,.4f}'.format
df_training_levels = pd.DataFrame()
df_training_levels['total'] = df_total.value_counts(subset=['level_dn'], sort=False, normalize=False).convert_dtypes()
df_training_levels['legit'] = df_legit.value_counts(subset=['level_dn'], sort=False, normalize=False).convert_dtypes()
df_training_levels['dga'] = df_dga.value_counts(subset=['level_dn'], sort=False, normalize=False).convert_dtypes()
df_norm_training_levels = pd.DataFrame()
df_norm_training_levels['total'] = df_total.value_counts(subset=['level_dn'], sort=False, normalize=True).convert_dtypes()
df_norm_training_levels['legit'] = df_legit.value_counts(subset=['level_dn'], sort=False, normalize=True).convert_dtypes()
df_norm_training_levels['dga'] = df_dga.value_counts(subset=['level_dn'], sort=False, normalize=True).convert_dtypes()
df_training_levels.T.fillna(0).join(df_norm_training_levels.T.fillna(0), rsuffix='%')

            1      2  >2     1%     2%    >2%
total  625410  49423  65 0.9267 0.0732 0.0001
legit  321661  15672  65 0.9534 0.0464 0.0002
dga    303749  33751   0 0.9000 0.1000 0.0000

Si può notare come il dataset di training sia per un 99% allenato con soli domini mono-livello dimostrando che è normale non ottenere risultati soddisfacenti per predizioni multilivello, ma dimostra anche come quei pochi nomi di dominio multilivello siano stati comunque utili durante l'allenamento del modello NOSFX in quanto esso si comporta meglio degli altri in tali predizioni.

In [6]:
models_dict = {models[0].name: models[0], models[1].name: models[1], models[2].name: models[2]}
b = {}
values = []
dff = pd.DataFrame(columns=['model','X','Y'])
for k in dga_df:
    if k[2] == 'NOSFX_NOPUNCT_1-30': continue
    if k[1] == 'DOMAIN':
        df = dga_df[k]
        df = df[df['level_dn'] == '2'].copy()
        dff = dff.append(pd.DataFrame({'model': [k[2]]*df.shape[0],'X': df['X'], 'Y': df['Y']}))
        #TODO: affianca il secondo livello per capire se può essere utile
        continue
print(dff.sort_index().to_markdown())

|       | model      | X                   |        Y |
|------:|:-----------|:--------------------|---------:|
|     0 | NOSFX_1-30 | msftncsi            | 0.997085 |
|     0 | LAST       | msftncsi            | 0.890153 |
|     4 | NOSFX_1-30 | cloudfront          | 0.937418 |
|   620 | NOSFX_1-30 | omnitagjs           | 0.591771 |
|   622 | NOSFX_1-30 | btrll               | 0.552949 |
|   760 | NOSFX_1-30 | yieldmo             | 0.846423 |
|   760 | LAST       | yieldmo             | 0.924195 |
|   768 | NOSFX_1-30 | rubiconproject      | 0.900559 |
|   782 | LAST       | agkn                | 0.778685 |
|  1941 | NOSFX_1-30 | ytimg               | 0.762953 |
|  1941 | LAST       | ytimg               | 0.877527 |
|  1973 | NOSFX_1-30 | tiqcdn              | 0.561258 |
|  2368 | NOSFX_1-30 | yieldify-production | 0.519554 |
|  2761 | LAST       | ssl-images-amazon   | 0.507284 |
|  3344 | NOSFX_1-30 | zqtk                | 0.984952 |
|  3344 | LAST       | zqtk                | 0.890088 |
|  3488 | NOSFX_1-30 | crwdcntrl           | 0.9963   |
|  3488 | LAST       | crwdcntrl           | 0.999391 |
|  4278 | LAST       | bkrtx               | 0.757295 |
|  4278 | NOSFX_1-30 | bkrtx               | 0.921019 |
|  4583 | LAST       | zencdn              | 0.539497 |
|  5437 | LAST       | aolcdn              | 0.687059 |
|  5437 | NOSFX_1-30 | aolcdn              | 0.630045 |
|  5829 | LAST       | aspnetcdn           | 0.657524 |
|  6584 | LAST       | squid-cache         | 0.663075 |
|  6904 | NOSFX_1-30 | alicdn              | 0.523418 |
|  7556 | NOSFX_1-30 | effectivemeasure    | 0.992044 |
|  8023 | LAST       | sailthru            | 0.887497 |
|  9276 | LAST       | owneriq             | 0.999376 |
|  9276 | NOSFX_1-30 | owneriq             | 0.997997 |
| 10337 | LAST       | evbuc               | 0.829667 |
| 10337 | NOSFX_1-30 | evbuc               | 0.595356 |
| 10827 | LAST       | gscontxt            | 0.52528  |
| 10827 | NOSFX_1-30 | gscontxt            | 0.658041 |
| 11885 | NOSFX_1-30 | uuidksinc           | 0.747212 |
| 11885 | LAST       | uuidksinc           | 0.994917 |
| 16663 | LAST       | yldbt               | 0.807637 |
| 16663 | NOSFX_1-30 | yldbt               | 0.84628  |
| 16723 | NOSFX_1-30 | rhythmxchange       | 0.636175 |
| 18685 | LAST       | tagsrvcs            | 0.902384 |
| 18685 | NOSFX_1-30 | tagsrvcs            | 0.963171 |
| 19262 | NOSFX_1-30 | tealiumiq           | 0.728915 |
| 19262 | LAST       | tealiumiq           | 0.979008 |
| 21806 | LAST       | spongecell          | 0.992824 |
| 21806 | NOSFX_1-30 | spongecell          | 0.610564 |
| 22992 | LAST       | ywxi                | 0.540408 |
| 22992 | NOSFX_1-30 | ywxi                | 0.890425 |
| 23369 | NOSFX_1-30 | jsdelivr            | 0.570894 |
| 24640 | NOSFX_1-30 | bwbx                | 0.513045 |
| 25660 | NOSFX_1-30 | yjtag               | 0.576351 |
| 25660 | LAST       | yjtag               | 0.916868 |
| 25674 | NOSFX_1-30 | appnexusgslb        | 0.958806 |
| 25674 | LAST       | appnexusgslb        | 0.991536 |

## Quanti di quelli *sbagliati* possono trarre vantaggio dal livelli >1?
Devo prendere i DN dei DGA sbagliati, e predirli con ogni modello come fossero un semplice DOMAIN.

In [7]:
models_dict = {models[0].name: models[0], models[1].name: models[1], models[2].name: models[2]}
b = {}
for k in dga_df:
    if k[1] == 'LAST':
        continue #if LAST then the result'll be the same
    df = dga_df[k]
    df = df[df['level_dn'] == '2'].copy()
    df['l2'] = df['dn'].apply(lambda x: x[0:x.find('.')])
    df['Y-l2'],_ = models_dict[k[2]].predict(df['l2'].to_numpy())
    b[k]= {'improvement': df[df['Y-l2'] < 0.5].shape[0]/df.shape[0]}
pd.DataFrame(b).T

1/1 [==============================] - 0s 1ms/step
3/3 [==============================] - 0s 27ms/step
3/3 [==============================] - 0s 17ms/step
3/3 [==============================] - 0s 21ms/step
3/3 [==============================] - 0s 29ms/step
3/3 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 592us/step
1/1 [==============================] - 0s 571us/step
1/1 [==============================] - 0s 605us/step

                                       improvement
normal_27 NOSFX    NOSFX_1-30                 0.25
                   NOSFX_NOPUNCT_1-30         0.72
                   LAST                       0.62
          NOSFX_NP NOSFX_1-30                 0.63
                   NOSFX_NOPUNCT_1-30         0.72
                   LAST                       0.62
          DOMAIN   NOSFX_1-30                 0.93
                   NOSFX_NOPUNCT_1-30         0.97
                   LAST                       0.96

Il risultato precedente ci fa capire che un analisi con più livelli

In [8]:
for ddl in dga_dn_levels:
    if ddl[1] == 'DOMAIN':
        print(ddl)
        print(dga_dn_levels[ddl].loc[dga_dn_levels[ddl]['level'] == '1'], '\n\n')

NameError: name 'dga_dn_levels' is not defined

Si può notare come la distribuzione

In [ ]:
for ddl in dga_dn_levels:
    if ddl[1] == 'NOSFX':
        print(ddl)
        print(dga_dn_levels[ddl].loc[dga_dn_levels[ddl]['level'] == '2'].iloc[0:10], '\n\n')

In [ ]:
from Capture import training
from IO import DF

training_DF = DF(training.dn, np.zeros(training.dn.shape[0]), np.zeros(training.dn.shape[0]))

print(training_DF.level_count_dn().to_frame().T)

training_domain = training.readable
training_domain['dn_domain'] = training_domain['dn'].apply(Transformer.domain)

In [ ]:
string_distribution(training, 'cloudfront')

In [ ]:
string_distribution(training, 'mozilla')

In [ ]:
string_distribution(training, 'goo.')

Sarebbe bello (?) cercare di trovare una correlazione tra i domini sbagliati e quelli che non lo sono rispetto al dataset di training.
Ovvero quante volte compare la stringa del d1 nel training.

In [ ]:
o = Output.predict(Input(normal['31'], Transformer.DOMAIN), Model.load(1), False)

dn = o.DF.unique().with_dn().DF.index.get_level_values(1).to_numpy()
Y = o.DF.unique().with_dn().DF['Y'].to_numpy()

df = pd.DataFrame({'dn': pd.Series(dn).apply(Transformer.domain), 'Y': Y})

df = df.drop_duplicates()

import warnings
warnings.filterwarnings('ignore')

legit = df[df['Y'] < 0.5]
legit_values=[]
c=0
for l in legit['dn']:
    c+=1
    if c % 20 == 0:
        print(c)
    _, lnum, dnum = string_similarity(training_domain, l)
    legit_values.append([l, lnum, dnum])
    
pd.DataFrame(legit_values)

In [ ]:
c=0    
dga = df[df['Y'] > 0.5]
dga_values=[]
for l in dga['dn']:
    _, lnum, dnum = string_similarity(training_domain, l)
    dga_values.append([l, lnum, dnum])
print(pd.DataFrame(dga_values).to_string())

In [ ]:
legit = df[df['Y'] < 0.5]
for l in legit['dn']:
    _, lnum, dnum = string_distribution(training, l)
    if lnum == 0:
        print('%-40s %5d  %5d' % (l, lnum, dnum))

In [ ]:
string_similarity(training, 'google')