In [20]:
import pandas as pd
from DomainLevel import Transformer
import os, math
from IPython.display import clear_output
import numpy as np
import json
import re

def parse_report(report):
    regex = r"""
    \s+precision\s+recall\s+f1\-score\s+support
    \s+0\s+(?P<precision_legit>[\d\.]+)\s+(?P<recall_legit>[\d\.]+)\s+(?P<f1score_legit>[\d\.]+)\s+(?P<support_legit>[\d\.]+)
    \s+1\s+(?P<precision_dga>[\d\.]+)\s+(?P<recall_dga>[\d\.]+)\s+(?P<f1score_dga>[\d\.]+)\s+(?P<support_dga>[\d\.]+)
    \s+accuracy\s+(?P<accuracy_legit>[\d\.]+)\s+(?P<accuracy_dga>[\d\.]+)
	"""
    matches = re.finditer(regex, report, re.MULTILINE | re.VERBOSE)
    dict_ = {}
    for match in matches:
        g = match.groupdict()
        for k in g:
            g[k] = float(g[k])
        return g
        
def load_json(path):
    with open(path, 'r') as fp:
        return json.load(fp)
    
models = {
    'NOSFX': 'training/model_128_63_NOSFX_8_20_binary_0',
    'DOMAIN': 'training/model_128_63_DOMAIN_8_20_binary_1'
}

nfolds = 8


metrics_name = ['precision', 'recall', 'f1score', 'accuracy', 'support']

metrics = { (mn, mdn) : { l: 0 for l in ['legit', 'dga']} for mn in metrics_name for mdn in models}
for model in models:
    support_dga = 0
    for i in range(nfolds):
        j_fold = load_json(os.path.join(models[model], f'fold_{i+1}_infos.json'))
        report = parse_report(j_fold['report'])
        for mn in metrics_name:
            for l in ['legit', 'dga']:
                metrics[(mn, model)][l] += report['%s_%s' % (mn, l)]/nfolds

pd.DataFrame(metrics)

      precision              recall             f1score            \
          NOSFX    DOMAIN     NOSFX    DOMAIN     NOSFX    DOMAIN
legit  0.961103  0.963371  0.953634  0.952892  0.957332  0.958090
dga    0.953241  0.952359  0.960850  0.962997  0.957007  0.957635

           accuracy                 support
              NOSFX        DOMAIN     NOSFX   DOMAIN
legit      0.957171      0.957864  34005.75  34112.0
dga    67490.000000  67490.000000  33484.25  33378.0

In [9]:
# coding=utf8
# the above tag defines encoding for this document and is for Python 2.x compatibility

import re

regex = r"""
	\s+precision\s+recall\s+f1\-score\s+support
	\s+0\s+([\d\.]+)\s+([\d\.]+)\s+([\d\.]+)\s+([\d\.]+)
	\s+1\s+([\d\.]+)\s+([\d\.]+)\s+([\d\.]+)\s+([\d\.]+)
	\s+accuracy\s+([\d\.]+)\s+([\d\.]+)
	"""

test_str = ""

matches = re.finditer(regex, j_fold['report'], re.MULTILINE | re.VERBOSE)

for matchNum, match in enumerate(matches, start=1):
    
    print ("Match {matchNum} was found at {start}-{end}: {match}".format(matchNum = matchNum, start = match.start(), end = match.end(), match = match.group()))
    
    for groupNum in range(0, len(match.groups())):
        groupNum = groupNum + 1
        
        print ("Group {groupNum} found at {start}-{end}: {group}".format(groupNum = groupNum, start = match.start(groupNum), end = match.end(groupNum), group = match.group(groupNum)))

# Note: for Python 2.7 compatibility, use ur"" to prefix the regex and u"" to prefix the test string and substitution.

Match 1 was found at 0-224:               precision    recall  f1-score   support

           0  0.96603438 0.94708703 0.95646688     34415
           1  0.94604444 0.96535147 0.95560045     33075

    accuracy                      0.95603793     67490
Group 1 found at 69-79: 0.96603438
Group 2 found at 80-90: 0.94708703
Group 3 found at 91-101: 0.95646688
Group 4 found at 106-111: 34415
Group 5 found at 126-136: 0.94604444
Group 6 found at 137-147: 0.96535147
Group 7 found at 148-158: 0.95560045
Group 8 found at 163-168: 33075
Group 9 found at 204-214: 0.95603793
Group 10 found at 219-224: 67490

In [6]:
df = pd.read_csv('training/dataset_training.csv')

print(df.shape[0])

df1 = pd.DataFrame()

for c in df['class'].drop_duplicates().values:
    if c == 'alexa': continue
    df1 = pd.concat([ df1, df[df['class'] == c].iloc[0:1]])
df1.drop(columns=['legit']).set_index('class')

674898

                                             dn
class
gozi                     mortiscontrastatim.com
corebot        cvyh1po636avyrsxebwbkn7.ddns.net
ranbyus                       txumyqrubwutbb.cc
symmi                    ixekrihagimau.ddns.net
emotet                      rjyuosmhfnaedlyg.eu
dircrypt                    djqrmauttlloabj.com
matsnu        brothernerveplacebringconsult.com
simda                            rycoquqawyw.eu
fobber                           cdjimfjspm.com
pushdo                              gasozjom.ru
qadars                         w2oagqg2cmwi.org
kraken                  bqlqscpqwsh.dynserv.com
ramnit                       vrnixstxftvpfo.com
nymaim                      searched-cookie.net
pykspa                          guzcwufqbex.org
tinba                          mmggpwhxumpk.biz
murofet                     pksnprwyupqtsii.net
cryptolocker                  xmambdaytivtt.biz
ramdo                      qkgogwauessomcqa.org
vawtrak                          usecwemser.com
conficker                               xpun.nl
padcrypt                    fdamcmbdnokecnof.co
rovnix                    6l6zw6bcpt6yjdlsix.ru
suppobox                      journeyvalley.net
necurs                 xvctydfxovhxfjkotaii.xxx

In [10]:
df = pd.read_csv('training/dataset_training.csv')
print(df.columns)
df[df['legit'] == 'legit'].iloc[0:10]

Index(['legit', 'class', 'dn'], dtype='object')

    legit  class                        dn
2   legit  alexa        plasticbags.sa.com
3   legit  alexa              mzltrack.com
4   legit  alexa              miss-slim.ru
6   legit  alexa         myhostingpack.com
12  legit  alexa   download-by-satoshi.com
15  legit  alexa  inthemiddlenashville.com
18  legit  alexa                 quinua.jp
20  legit  alexa               calvado.com
21  legit  alexa           maryland.com.pe
24  legit  alexa    localdetrabalho.com.br

In [4]:
print(df[df['class'] == 'alexa'].shape[0])
print(df[df['class'] != 'alexa'].shape[0])

337398
337500

In [15]:
df = pd.read_csv('/media/princio/ssd512/top-1m.csv')

df['sfx'] = df['DN'].apply(Transformer.suffix)

df[df['sfx'] == 'it']

                          DN sfx
130                google.it  it
170                  redd.it  it
214                amazon.it  it
295     proiezionidiborsa.it  it
627                 poste.it  it
...                      ...  ..
730355             besani.it  it
730381               figc.it  it
730904         le13querce.it  it
731282   bagliodipianetto.it  it
731465        bancadiasti.it  it

[1728 rows x 2 columns]

In [16]:
df[df['sfx'] == 'it'].head(30)

                        DN sfx
130              google.it  it
170                redd.it  it
214              amazon.it  it
295   proiezionidiborsa.it  it
627               poste.it  it
679              kahoot.it  it
708              libero.it  it
872                inps.it  it
1097                gds.it  it
1124          unicredit.it  it
1252              aruba.it  it
1409    laleggepertutti.it  it
1464         repubblica.it  it
1634                pec.it  it
1795        portaleargo.it  it
1824               ebay.it  it
1899            tiscali.it  it
2152           corriere.it  it
2207     gazzettadelsud.it  it
2216            ilmeteo.it  it
2447               repl.it  it
2612        fantacalcio.it  it
2689          aranzulla.it  it
2747            diretta.it  it
2759             subito.it  it
3051         axioscloud.it  it
3224                aci.it  it
3312              sella.it  it
3330  spinnakerboutique.it  it
3566        immobiliare.it  it