In [71]:
import pandas as pd
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import base64
from io import BytesIO
from IPython.core.display import display, HTML, Markdown
from  matplotlib.colors import get_named_colors_mapping 
import re as regex
import altair as alt

In [68]:
def get_db():
    try: db.close()
    except:
        pass
    db = psycopg2.connect("host=localhost dbname=dns user=postgres password=postgres")
    return db



df_malware = pd.read_sql("SELECT * FROM malware", get_db())

df = df_malware.drop(columns=["id", "md5", "sha256", "mcfp_link", "example"], index=20)
df = df.rename(columns={
    "name": "probable name",
})[["probable name", "binary", "year"]]

df

               probable name       binary    year
0             Artemis Trojan         None  2017.0
1                    Navicat      105.exe  2013.0
2                    Necurse  sample1.exe  2016.0
3            HTBot/Proxyback         None  2015.0
4         Trojan.Win32.Yakes         None  2014.0
5                  Sathurbot         None  2017.0
6             Caphaw or Kazy         None  2014.0
7                     ZBot14     yL0T.exe  2014.0
8                      Tinba         None  2016.0
9                     Miuref         None  2016.0
10  Bunitu botnet (stripped)         None  2015.0
11                     Feodo         None  2015.0
12                    Feodo2         None  2015.0
13             virussign.com         None  2013.0
14                    Tinba2         None  2017.0
15               Worm.Netsky         None  2006.0
16                 8219s.exe    8219s.exe  2013.0
17                  Eudcedit   3ab45z.exe  2013.0
18                   mcfp_71         None  2014.0
19                    ZBot13   FzPfH6.exe  2013.0

In [303]:

df_malware = pd.read_sql("SELECT * FROM malware where name not like 'no-infection'", get_db())

df_malware["scode"] = ""

for idx, mw in df_malware.iterrows():
    df = pd.read_sql("SELECT * FROM pcap WHERE malware_id=%d" % mw["id"], get_db())
    df_malware.at[idx, "scode"] = df["name"].apply(lambda x: x[:x.find("_")]).drop_duplicates().to_numpy()

stratosphere = 'https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-'
vtotal = 'https://www.virustotal.com/gui/file/'
for _, mw in df_malware.sort_values(by="id").iterrows():
    scode = mw["scode"][0]
    display(Markdown("%03d: [%s](%s%s/): %s %s\t[vs](%s%s)" % (mw['id'], mw['name'], stratosphere, scode, mw['binary'], scode, vtotal, mw["sha256"])))

    
df_dn = pd.read_sql("SELECT * FROM dn_distribution_per_mw", get_db())
df_dn["top10m_bool"] = df_dn.top10m.apply(lambda x: ">1mln" if x > 1_000_000 else ("no" if np.isnan(x) else "ok"))
#df_dn.groupby("malware_id")
df_dn = df_dn.sort_values(by="nx").groupby(["mwid", "mwname", "top10m_bool"]).aggregate({
    "dn": lambda x: ", ".join(x[0:3]),
    "nosfx": ["mean"],
    "dn": "count",
    "app": ["sum", "mean"],
    "ok": ["sum", "mean"],
    "nx": ["sum", "mean"],
})

df_dn[("nx/ok", "sum")] = df_dn[("nx", "sum")] / df_dn[("ok", "sum")]
df_dn[("nx/ok", "mean")] = df_dn[("nx", "mean")] / df_dn[("ok", "mean")]
df_dn.drop(index=["ok", ">1mln"], level="top10m_bool")

001: [Navicat](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-10/): 105.exe 10	[vs](https://www.virustotal.com/gui/file/6b30c4d119f807f91020712adabfe435ac28e0dde458fe5d60a5b013611962a2)

002: [HTBot/Proxyback](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-111-3/): None 111-3	[vs](https://www.virustotal.com/gui/file/517da0900570ec9e9793d9e32a8445b5910b95618c4e1ea63da799d4a785dcd9)

003: [Necurse](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-170-1/): sample1.exe 170-1	[vs](https://www.virustotal.com/gui/file/b3ca90d4b289d31bbdefbff7d9b42bfeb0f44f97e4738c7c1b88e4cad59b6e9f)

004: [ZBot14](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-25-2/): yL0T.exe 25-2	[vs](https://www.virustotal.com/gui/file/3fc6bef5eac0656be77f8e96f2b7e08cadb418c11430e8c3d53b33788a93c86a)

005: [Sathurbot](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-301-1/): None 301-1	[vs](https://www.virustotal.com/gui/file/20ae9e5f8f26635c627afce5eaeeb749af459f55138c80f29da9d787ecc38f92)

006: [ZeuS](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-5/): 8219s.exe 5	[vs](https://www.virustotal.com/gui/file/80334036d44bfa4a2bdc0fa5b75d015513d00e38f26f043fb7f26fabcad0c2b7)

007: [Caphaw or Kazy](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-69/): None 69	[vs](https://www.virustotal.com/gui/file/9966bc568225c509c3e3b3ff9f548ba59f39908200e3e8511e61a115be750f09)

008: [Eudcedit](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-6/): 3ab45z.exe 6	[vs](https://www.virustotal.com/gui/file/dc991de6ae9989902c1e59d30050223de5a0c1327c2e54e0f6da8134e3f447ca)

009: [mcfp_71](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-71/): None 71	[vs](https://www.virustotal.com/gui/file/efe31de9456d2661a2026a4bac9ebf1061b74290010aef95f11bab8c21241c59)

010: [ZBot13](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-7/): FzPfH6.exe 7	[vs](https://www.virustotal.com/gui/file/71644436abd1ba852778a8b4d148aa0f)

012: [Trojan.Win32.Yakes](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-100/): None 100	[vs](https://www.virustotal.com/gui/file/8bfa2d39be44de91958226983d983a07c1bcf75b007ab17b295215d08a63f032)

014: [Tinba](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-166-1/): None 166-1	[vs](https://www.virustotal.com/gui/file/8006cbd1c70b2ed096af9c72d6fef2c3e9cb0a4168540897967e5d3bbb2331bc)

015: [Miuref](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-169-1/): None 169-1	[vs](https://www.virustotal.com/gui/file/e12a2c2b633ac12cec3e0d32950dcd5011d2aba4a9b95506c0fd3913446d7c22)

017: [Bunitu botnet (stripped)](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-140-2/): None 140-2	[vs](https://www.virustotal.com/gui/file/002e9d6217b17923b69710792fd85765c41a0fc5406ce6e1dbee3cc2ad82eca6)

019: [Feodo](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-125-1/): None 125-1	[vs](https://www.virustotal.com/gui/file/ce0889dcae941653565fa2580ca1062173540a157c30173aca853fbee335df07)

020: [Feodo2](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-126-1/): None 126-1	[vs](https://www.virustotal.com/gui/file/4f236c31c1a9867013656960d11108f315a0f00f698a72836141082c7d9fce80)

022: [virussign.com](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-16/): None 16	[vs](https://www.virustotal.com/gui/file/bab391b77129150445521fddc073997ca6c7cb3db35eb1a7c45c65ca365370c3)

023: [Tinba2](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-225-1/): None 225-1	[vs](https://www.virustotal.com/gui/file/4904b2bfb4becf349662ba0ff6f3ade860c7e9086a674ee5e6f494e1a04bab03)

024: [Worm.Netsky](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-226-1/): None 226-1	[vs](https://www.virustotal.com/gui/file/c8fffb2e737514c551b2d7bcaf8baa459564b059cab1a35a3cec4b3c270d4525)

027: [Artemis Trojan](https://mcfp.felk.cvut.cz/publicDatasets/CTU-Malware-Capture-Botnet-305-1/): None 305-1	[vs](https://www.virustotal.com/gui/file/2cf3ad894277f9113acbe77b9ff22a31f5bc97758322e5d3d05f31e0bc7b56ed)

                                              dn     nosfx      app  \
                                           count      mean      sum
mwid mwname                   top10m_bool
1    Navicat                  no            7948  0.000535  1638176
2    HTBot/Proxyback          no             829  0.061605    34655
3    Necurse                  no            2690  0.915949     6272
4    ZBot14                   no            6299  0.999402   484511
5    Sathurbot                no           29919  0.058823   541102
6    ZeuS                     no            4204  0.259406   410282
7    Caphaw or Kazy           no            5744  0.078183    63757
8    Eudcedit                 no            5882  0.954224   764740
9    mcfp_71                  no            2013  0.994906    16049
10   ZBot13                   no            2981  0.997489   722598
12   Trojan.Win32.Yakes       no              96  0.209712    54445
14   Tinba                    no            1001  0.976632  1239075
15   Miuref                   no            2212  0.911027  7524665
17   Bunitu botnet (stripped) no             103  0.100321    73957
19   Feodo                    no            3640  0.010405    17602
20   Feodo2                   no             457  0.015793     2506
22   virussign.com            no             522  0.040467     3621
23   Tinba2                   no            1001  0.985249   421476
24   Worm.Netsky              no             536  0.013760  4322466
27   Artemis Trojan           no              14  0.642363   636216
28   no-infection             no            4119  0.171083   111691

                                                              ok  \
                                                   mean      sum
mwid mwname                   top10m_bool
1    Navicat                  no             206.111726  1637955
2    HTBot/Proxyback          no              41.803378    33918
3    Necurse                  no               2.331599     3539
4    ZBot14                   no              76.918717   249499
5    Sathurbot                no              18.085564   524649
6    ZeuS                     no              97.593245   392722
7    Caphaw or Kazy           no              11.099756    51887
8    Eudcedit                 no             130.013601   385224
9    mcfp_71                  no               7.972678     8447
10   ZBot13                   no             242.401208   369835
12   Trojan.Win32.Yakes       no             567.135417    29381
14   Tinba                    no            1237.837163   629655
15   Miuref                   no            3401.747288  5668294
17   Bunitu botnet (stripped) no             718.029126    53541
19   Feodo                    no               4.835714    17320
20   Feodo2                   no               5.483589     2489
22   virussign.com            no               6.936782     3606
23   Tinba2                   no             421.054945   215028
24   Worm.Netsky              no            8064.302239  2936047
27   Artemis Trojan           no           45444.000000   636214
28   no-infection             no              27.116048   110812

                                                              nx               \
                                                   mean      sum         mean
mwid mwname                   top10m_bool
1    Navicat                  no             206.083920      188     0.023654
2    HTBot/Proxyback          no              40.914355      727     0.876960
3    Necurse                  no               1.315613     2685     0.998141
4    ZBot14                   no              39.609303   235012    37.309414
5    Sathurbot                no              17.535646     7161     0.239346
6    ZeuS                     no              93.416270    14812     3.523311
7    Caphaw or Kazy           no               9.033252    11586     2.017061
8    Eudcedit                 no              65.492010   379462    64.512411
9    mcfp_71                  no               4.196225     7602     3.776453
10   ZBot13                   no             124.064072   352756   118.334787
12   Trojan.Win32.Yakes       no             306.052083    12029   125.302083
14   Tinba                    no             629.025974   609411   608.802198
15   Miuref                   no            2562.519892  1826213   825.593580
17   Bunitu botnet (stripped) no             519.815534    20381   197.873786
19   Feodo                    no               4.758242      248     0.068132
20   Feodo2                   no               5.446389       15     0.032823
22   virussign.com            no               6.908046        5     0.009579
23   Tinba2                   no             214.813187   206418   206.211788
24   Worm.Netsky              no            5477.699627  1350330  2519.272388
27   Artemis Trojan           no           45443.857143        2     0.142857
28   no-infection             no              26.902646      745     0.180869

                                              nx/ok
                                                sum      mean
mwid mwname                   top10m_bool
1    Navicat                  no           0.000115  0.000115
2    HTBot/Proxyback          no           0.021434  0.021434
3    Necurse                  no           0.758689  0.758689
4    ZBot14                   no           0.941936  0.941936
5    Sathurbot                no           0.013649  0.013649
6    ZeuS                     no           0.037716  0.037716
7    Caphaw or Kazy           no           0.223293  0.223293
8    Eudcedit                 no           0.985042  0.985042
9    mcfp_71                  no           0.899964  0.899964
10   ZBot13                   no           0.953820  0.953820
12   Trojan.Win32.Yakes       no           0.409414  0.409414
14   Tinba                    no           0.967849  0.967849
15   Miuref                   no           0.322180  0.322180
17   Bunitu botnet (stripped) no           0.380662  0.380662
19   Feodo                    no           0.014319  0.014319
20   Feodo2                   no           0.006027  0.006027
22   virussign.com            no           0.001387  0.001387
23   Tinba2                   no           0.959959  0.959959
24   Worm.Netsky              no           0.459914  0.459914
27   Artemis Trojan           no           0.000003  0.000003
28   no-infection             no           0.006723  0.006723

In [269]:
# MW = 6
mwid = 6
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

print(pd.set_option('display.max_colwidth', 1000))
#display(Markdown("## Top10m is NaN and nx>0"))
#isplay(df[(df["top10m"].isna()) & (df["nx"] > 10)])

#display(Markdown("## Top10m is NaN"))
#display(df[df["top10m"].isna()])

#display(Markdown("## Top10m >= 1000000"))
#display(df[df["top10m"] >= 1_000_000].head(10))

#display(Markdown("## Top10m < 1000000"))
#display(df[df["top10m"] < 1_000_000].head(10))

df = df[(df["top10m"].isna()) & (df["nx"] > 10)]
df["bibo"] = df.nx // 20

def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": ["count", to_tabular],
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": "mean"
})

df = df.droplevel(1, axis=1)

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

None
\begin{tabular}{rlrrrrl}
\toprule
 dn &                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                dn &         nosfx &    ok &    nx &   app & nx/app \\
  1 &                                                                                                                                                                                                                                                                                                                                                                                                                                              \begin{tabular}{lll}honey-do-this.com &  &   \\\end{tabular} &  8.864477e-05 &  1982 &  1982 &  3981 &   49\% \\
\midrule
  8 &                                                                                                                                                                                                                                                                                                                            \begin{tabular}{lll}gcse.comgcse.com & elijahsfm.com &  dynranver.com \\stost.farantly.com & intelution.net &  sakscouponhq.com \\modelplays.com & taithes.com &   \\\end{tabular} &  1.532394e-01 &   161 &   161 &   323 &   49\% \\
 26 &  \begin{tabular}{lll}leecheomaki.com & mx5.drilltick.com &  ghettorise.com \\gamingtrips.com & tableonion.com &  accesgratos.com \\elipey.com & cartermashek.com &  lefkoffrubin.com \\hbulbous.net & digbuyzones.com &  sheetvally.com \\taylormadego.com & holehotsauce.com &  echineia.com \\byownersfinest.com & flashdrivea.com &  hl-dispkay.com \\satizern.net & carrotamber.com &  bdts.net \\momentmodele.com & bessyrrlyn.com &  tachja.com \\spikewing.com & theeaglecrest.com &   \\\end{tabular} &  8.145114e-02 &   156 &   156 &   314 &   49\% \\
  5 &                                                                                                                                                                                                                                                                                                                                                                                             \begin{tabular}{lll}lenderace.in & ikesreget.in &  holdingvat.in \\amarplud.in & fuhnvanir.in &   \\\end{tabular} &  1.537333e-02 &   112 &   112 &   224 &   49\% \\
  7 &                                                                                                                                                                                                                                                                                                                                         \begin{tabular}{lll}back3sea.info & mura.forgreen.info &  peb.com.br \\greenpotato.info & cotoffroad.info &  melegg.info \\lenderture.info &  &   \\\end{tabular} &  3.574779e-04 &    73 &    73 &   146 &   49\% \\
  5 &                                                                                                                                                                                                                                                                                                                                                                                                    \begin{tabular}{lll}dem & avictorias.com.bak-mx.na0108.smtbak.com &  comq \\hlp & jjro &   \\\end{tabular} &  7.003262e-07 &    12 &    12 &    26 &   45\% \\
\bottomrule
\end{tabular}

In [209]:
mwid = 27
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

print(pd.set_option('display.max_colwidth', 1000))

display(Markdown("## Top10m >= 0"))
display(df[df["top10m"] >= 0].head(10))

df = df[df["top10m"].isna()]
df = df[~df["dn"].str.contains("cloudfront.net")]
df = df[~df["dn"].str.contains("amazonaws.com")]

display(Markdown("## Top10m is NaN"))
display(df[df["top10m"].isna()])


def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

None

## Top10m >= 0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
1,27,Artemis Trojan,692238,safebrowsing-cache.google.com,3.0,0.000028,5312,5312,0,0
2,27,Artemis Trojan,692231,safebrowsing.google.com,3.0,0.000007,2780,2780,0,0
3,27,Artemis Trojan,741512,safebrowsing.cache.l.google.com,3.0,0.000014,2656,2656,0,0
4,27,Artemis Trojan,741511,sb.l.google.com,3.0,0.000011,1390,1390,0,0
5,27,Artemis Trojan,688350,shavar.services.mozilla.com,3536.0,0.000003,1388,1388,0,0
6,27,Artemis Trojan,741502,shavar.prod.mozaws.net,888259.0,0.000002,694,694,0,0
7,27,Artemis Trojan,688358,aus5.mozilla.org,88.0,0.000002,220,220,0,0
8,27,Artemis Trojan,692269,ocsp.digicert.com,8944.0,0.000008,112,112,0,0
9,27,Artemis Trojan,741517,balrog-aus5.r53-2.services.mozilla.com,3536.0,0.000016,110,110,0,0
10,27,Artemis Trojan,688338,incoming.telemetry.mozilla.org,88.0,0.000018,102,102,0,0

## Top10m is NaN

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,27,Artemis Trojan,685637,wpad.lan,NaN,0.000000,4,2,2,0
17,27,Artemis Trojan,741497,cs9.wac.phicdn.net,NaN,0.000015,52,52,0,0
68,27,Artemis Trojan,741491,cf0c69c2d0e0da8e900b06509bbc7077.acn.name,NaN,0.000290,636018,636018,0,0

\begin{tabular}{rlrlrrrrrrl}
\toprule
 mwid &          mwname &   dn_id &                                         dn &  top10m &     nosfx &     app &  ok &  nx &  no & nx/app \\
\midrule
   27 &  Artemis Trojan &  741491 &  cf0c69c2d0e0da8e900b06509bbc7077.acn.name &     NaN &  0.000290 &  636018 &   0 &   0 &   0 &    0\% \\
   27 &  Artemis Trojan &  741497 &                         cs9.wac.phicdn.net &     NaN &  0.000015 &      52 &   0 &   0 &   0 &    0\% \\
   27 &  Artemis Trojan &  685637 &                                   wpad.lan &     NaN &  0.000000 &       4 &   2 &   2 &   0 &   50\% \\
\bottomrule
\end{tabular}

In [274]:
# MW = 17 :: Bunitu Botnet
mwid = 17
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

print(df[df.dn.str.find("whoer") >= 0].shape[0])

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 10)])
print(df[(df["top10m"].isna()) & (df["nx"] > 0)].to_latex())

display(Markdown("## Top10m is NaN"))
display(df[df["top10m"].isna()])

#display(Markdown("## Top10m >= 1000000"))
#display(df[df["top10m"] >= 1_000_000].head(10))

df_whoer = df[df.dn.str.find("whoer.net") >= 0].copy()

display(Markdown("## Containing 'whoer.net'"))
display(df_whoer)

print(df_whoer.to_latex())

df = df[(df["top10m"].isna()) & (df["nx"] > 10)]
df["bibo"] = df.nx // 20

def to_tabular(x):
    col = 3
    x = x.to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": to_tabular,
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": "mean"
})

df["nx/app"] = df.nx.astype(float) / df.app.astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.sort_values("app", ascending=False).to_latex(index=False, escape=False).replace("None", ""))

16

# Bunitu botnet (stripped)

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,17,Bunitu botnet (stripped),692770,ns8.joinparty4more.xyz,NaN,0.000053,21673,11478,10194,0
1,17,Bunitu botnet (stripped),692771,ns0.joinparty4more.xyz,NaN,0.000007,21390,11203,10187,0

\begin{tabular}{lrlrlrrrrrr}
\toprule
{} &  mwid &                    mwname &   dn\_id &                      dn &  top10m &     nosfx &    app &     ok &     nx &  no \\
\midrule
0 &    17 &  Bunitu botnet (stripped) &  692770 &  ns8.joinparty4more.xyz &     NaN &  0.000053 &  21673 &  11478 &  10194 &   0 \\
1 &    17 &  Bunitu botnet (stripped) &  692771 &  ns0.joinparty4more.xyz &     NaN &  0.000007 &  21390 &  11203 &  10187 &   0 \\
\bottomrule
\end{tabular}

## Top10m is NaN

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,17,Bunitu botnet (stripped),692770,ns8.joinparty4more.xyz,NaN,0.000053,21673,11478,10194,0
1,17,Bunitu botnet (stripped),692771,ns0.joinparty4more.xyz,NaN,0.000007,21390,11203,10187,0
69,17,Bunitu botnet (stripped),686963,server.adformdsp.net,NaN,0.000162,40,40,0,0
76,17,Bunitu botnet (stripped),687272,translate.googleapis.com,NaN,0.190696,37,37,0,0
82,17,Bunitu botnet (stripped),692826,dev.iias.eu,NaN,0.000168,34,34,0,0
...,...,...,...,...,...,...,...,...,...,...
589,17,Bunitu botnet (stripped),692960,ads.traffichunt.com,NaN,0.000297,2,2,0,0
606,17,Bunitu botnet (stripped),692772,ns1.joinparty4more.xyz,NaN,0.000007,29145,29145,0,0
610,17,Bunitu botnet (stripped),692780,cdn.wdrimg.com,NaN,0.305926,359,359,0,0
621,17,Bunitu botnet (stripped),692795,feed.solads.media,NaN,0.000002,130,130,0,0
623,17,Bunitu botnet (stripped),692801,soundwave.bnmla.com,NaN,0.006932,124,124,0,0

## Containing 'whoer.net'

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
2,17,Bunitu botnet (stripped),692946,bjjwf1446610.br.whoer.net,366326.0,0.000088,6,3,3,0
3,17,Bunitu botnet (stripped),693175,dnfzm1447306.br.whoer.net,366326.0,0.000041,6,3,3,0
4,17,Bunitu botnet (stripped),693020,ovzfn1446717.br.whoer.net,366326.0,0.000034,9,6,3,0
5,17,Bunitu botnet (stripped),693102,odzhn1447289.br.whoer.net,366326.0,0.000003,8,5,3,0
7,17,Bunitu botnet (stripped),693021,preop1446717.br.whoer.net,366326.0,0.000002,6,4,2,0
8,17,Bunitu botnet (stripped),692947,jjuvw1446577.br.whoer.net,366326.0,0.000042,5,3,2,0
9,17,Bunitu botnet (stripped),693103,lidlf1447289.br.whoer.net,366326.0,0.000119,4,2,2,0
10,17,Bunitu botnet (stripped),693023,atohy1446717.br.whoer.net,366326.0,0.000005,4,2,2,0
11,17,Bunitu botnet (stripped),692949,zsklh1446610.br.whoer.net,366326.0,0.000079,4,2,2,0
12,17,Bunitu botnet (stripped),693040,iwqbd1446779.br.whoer.net,366326.0,0.000050,4,2,2,0
13,17,Bunitu botnet (stripped),692913,rynic1446262.br.whoer.net,366326.0,0.000130,4,2,2,0
14,17,Bunitu botnet (stripped),692912,kilgc1446218.br.whoer.net,366326.0,0.000115,4,2,2,0
15,17,Bunitu botnet (stripped),693022,tdoyt1446716.br.whoer.net,366326.0,0.000227,5,4,1,0
16,17,Bunitu botnet (stripped),692948,wvmjd1446566.br.whoer.net,366326.0,0.000476,2,1,1,0
17,17,Bunitu botnet (stripped),693101,eipke1447289.br.whoer.net,366326.0,0.000001,2,1,1,0
30,17,Bunitu botnet (stripped),688335,whoer.net,366326.0,0.014989,86,86,0,0

\begin{tabular}{lrlrlrrrrrr}
\toprule
{} &  mwid &                    mwname &   dn\_id &                         dn &    top10m &     nosfx &  app &  ok &  nx &  no \\
\midrule
2  &    17 &  Bunitu botnet (stripped) &  692946 &  bjjwf1446610.br.whoer.net &  366326.0 &  0.000088 &    6 &   3 &   3 &   0 \\
3  &    17 &  Bunitu botnet (stripped) &  693175 &  dnfzm1447306.br.whoer.net &  366326.0 &  0.000041 &    6 &   3 &   3 &   0 \\
4  &    17 &  Bunitu botnet (stripped) &  693020 &  ovzfn1446717.br.whoer.net &  366326.0 &  0.000034 &    9 &   6 &   3 &   0 \\
5  &    17 &  Bunitu botnet (stripped) &  693102 &  odzhn1447289.br.whoer.net &  366326.0 &  0.000003 &    8 &   5 &   3 &   0 \\
7  &    17 &  Bunitu botnet (stripped) &  693021 &  preop1446717.br.whoer.net &  366326.0 &  0.000002 &    6 &   4 &   2 &   0 \\
8  &    17 &  Bunitu botnet (stripped) &  692947 &  jjuvw1446577.br.whoer.net &  366326.0 &  0.000042 &    5 &   3 &   2 &   0 \\
9  &    17 &  Bunitu botnet (stripped) &  693103 &  lidlf1447289.br.whoer.net &  366326.0 &  0.000119 &    4 &   2 &   2 &   0 \\
10 &    17 &  Bunitu botnet (stripped) &  693023 &  atohy1446717.br.whoer.net &  366326.0 &  0.000005 &    4 &   2 &   2 &   0 \\
11 &    17 &  Bunitu botnet (stripped) &  692949 &  zsklh1446610.br.whoer.net &  366326.0 &  0.000079 &    4 &   2 &   2 &   0 \\
12 &    17 &  Bunitu botnet (stripped) &  693040 &  iwqbd1446779.br.whoer.net &  366326.0 &  0.000050 &    4 &   2 &   2 &   0 \\
13 &    17 &  Bunitu botnet (stripped) &  692913 &  rynic1446262.br.whoer.net &  366326.0 &  0.000130 &    4 &   2 &   2 &   0 \\
14 &    17 &  Bunitu botnet (stripped) &  692912 &  kilgc1446218.br.whoer.net &  366326.0 &  0.000115 &    4 &   2 &   2 &   0 \\
15 &    17 &  Bunitu botnet (stripped) &  693022 &  tdoyt1446716.br.whoer.net &  366326.0 &  0.000227 &    5 &   4 &   1 &   0 \\
16 &    17 &  Bunitu botnet (stripped) &  692948 &  wvmjd1446566.br.whoer.net &  366326.0 &  0.000476 &    2 &   1 &   1 &   0 \\
17 &    17 &  Bunitu botnet (stripped) &  693101 &  eipke1447289.br.whoer.net &  366326.0 &  0.000001 &    2 &   1 &   1 &   0 \\
30 &    17 &  Bunitu botnet (stripped) &  688335 &                  whoer.net &  366326.0 &  0.014989 &   86 &  86 &   0 &   0 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrl}
\toprule
                                                                                          dn &    nosfx &     ok &     nx &    app & nx/app \\
 \begin{tabular}{lll}ns8.joinparty4more.xyz & ns0.joinparty4more.xyz &   \\\end{tabular} &  0.00003 &  10190 &  10190 &  21531 &   47\% \\
\bottomrule
\end{tabular}

In [235]:
# MW = 7
mwid = 7
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])

df = df[(df["top10m"].isna()) & (df["nx"] > 0)]
df["bibo"] = df.nx // 2

def to_tabular(x):
    col = 3
    x = x[:10].to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("nx").aggregate({
    "dn": ["count", to_tabular],
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": ["sum", "mean"]
})

display(df)
#df["nx/app"] = df.nx.astype(float) / df[('app', 'mean')].astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
#df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.to_latex(index=False, escape=False).replace("None", ""))

# Caphaw or Kazy

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,7,Caphaw or Kazy,764121,smis.cc,NaN,0.000660,6729,4344,2385,0
1,7,Caphaw or Kazy,764122,pcg.su,NaN,0.000158,4638,2813,1825,0
2,7,Caphaw or Kazy,764126,ccl.su,NaN,0.002866,5275,3726,1411,0
3,7,Caphaw or Kazy,764644,leq.su,NaN,0.000867,5674,5526,58,0
4,7,Caphaw or Kazy,765193,paly.cc,NaN,0.000054,1228,1168,57,0
...,...,...,...,...,...,...,...,...,...,...
5550,7,Caphaw or Kazy,769267,kdwelwg.pcg.su,NaN,0.000027,2,1,1,0
5551,7,Caphaw or Kazy,769266,6ugu0i24s9hzu79ty1.smis.cc,NaN,0.000097,2,1,1,0
5552,7,Caphaw or Kazy,769265,r8u312fymxzv.smis.cc,NaN,0.000273,2,1,1,0
5553,7,Caphaw or Kazy,769264,4sesxitl4z061.ccl.su,NaN,0.000007,2,1,1,0
5554,7,Caphaw or Kazy,769263,yrymw1pf5g4dy5n.pcg.su,NaN,0.004271,2,1,1,0

        dn  \
     count
nx
1     5316
2      224
3        8
5        1
57       2
58       1
1411     1
1825     1
2385     1

                                                                                                                                                                                                                                                                                               \
                                                                                                                                                                                                                                                                                   to_tabular
nx
1           \begin{tabular}{lll}tbzd6ujjc452e5q.smis.cc & o60g9jj1.smis.cc &  wmcnmyv8uw8t.pcg.su \\c9l95y5s52f058.pcg.su & 8sfgi36deih.pcg.su &  b9qcljkxg.pcg.su \\1hr5cqn.smis.cc & 860ds58evj804cxir.smis.cc &  kvtg3fqs.smis.cc \\x7hcmavd6q7ie5i.smis.cc & None &  None \\\end{tabular}
2     \begin{tabular}{lll}69y0kqpdl98d.smis.cc & 99ayuly230c2q6gt39.ccl.su &  nj0a9uq85ct41q.smis.cc \\0gfgg6vbj2v.smis.cc & v8vtg4cz2w59dm.smis.cc &  nd1kksgfjx.smis.cc \\92dbxopy5.smis.cc & mil5x7mpe.smis.cc &  1vo9keq7c.smis.cc \\b2w58gdusxkeq.smis.cc & None &  None \\\end{tabular}
3                                                                 \begin{tabular}{lll}m4xhy95w9eci4z8.pcg.su & qr07rtf.smis.cc &  m859dl7o.pcg.su \\tvlvnj61g1t2j.smis.cc & 224puvd2bkwm9uq.ccl.su &  381z3ubp1m.pcg.su \\rxt3afwye90rkuw.pcg.su & jv50ivmsn2w.ccl.su &  None \\\end{tabular}
5                                                                                                                                                                                                                                  \begin{tabular}{lll}sags.cc & None &  None \\\end{tabular}
57                                                                                                                                                                                                                               \begin{tabular}{lll}paly.cc & jcy.su &  None \\\end{tabular}
58                                                                                                                                                                                                                                  \begin{tabular}{lll}leq.su & None &  None \\\end{tabular}
1411                                                                                                                                                                                                                                \begin{tabular}{lll}ccl.su & None &  None \\\end{tabular}
1825                                                                                                                                                                                                                                \begin{tabular}{lll}pcg.su & None &  None \\\end{tabular}
2385                                                                                                                                                                                                                               \begin{tabular}{lll}smis.cc & None &  None \\\end{tabular}

         nosfx           ok    nx    app
          mean         mean  mean    sum         mean
nx
1     0.072297     1.006208     1  10669     2.006960
2     0.074752     2.004464     2    897     4.004464
3     0.249938     3.000000     3     48     6.000000
5     0.001651  2191.000000     5   2196  2196.000000
57    0.000935  3858.000000    57   7875  3937.500000
58    0.000867  5526.000000    58   5674  5674.000000
1411  0.002866  3726.000000  1411   5275  5275.000000
1825  0.000158  2813.000000  1825   4638  4638.000000
2385  0.000660  4344.000000  2385   6729  6729.000000

\begin{tabular}{rlrrrrr}
\toprule
   dn &     nosfx &    ok &    nx & \multicolumn{2}{l}{app} \\
count &                                                                                                                                                                                                                                                                               to_tabular &      mean &  mean &  mean &    sum &  mean \\
 5316 &        \begin{tabular}{lll}tbzd6ujjc452e5q.smis.cc & o60g9jj1.smis.cc &  wmcnmyv8uw8t.pcg.su \\c9l95y5s52f058.pcg.su & 8sfgi36deih.pcg.su &  b9qcljkxg.pcg.su \\1hr5cqn.smis.cc & 860ds58evj804cxir.smis.cc &  kvtg3fqs.smis.cc \\x7hcmavd6q7ie5i.smis.cc &  &   \\\end{tabular} &  0.072297 &     1 &     1 &  10669 &     2 \\
\midrule
  224 &  \begin{tabular}{lll}69y0kqpdl98d.smis.cc & 99ayuly230c2q6gt39.ccl.su &  nj0a9uq85ct41q.smis.cc \\0gfgg6vbj2v.smis.cc & v8vtg4cz2w59dm.smis.cc &  nd1kksgfjx.smis.cc \\92dbxopy5.smis.cc & mil5x7mpe.smis.cc &  1vo9keq7c.smis.cc \\b2w58gdusxkeq.smis.cc &  &   \\\end{tabular} &  0.074752 &     2 &     2 &    897 &     4 \\
    8 &                                                              \begin{tabular}{lll}m4xhy95w9eci4z8.pcg.su & qr07rtf.smis.cc &  m859dl7o.pcg.su \\tvlvnj61g1t2j.smis.cc & 224puvd2bkwm9uq.ccl.su &  381z3ubp1m.pcg.su \\rxt3afwye90rkuw.pcg.su & jv50ivmsn2w.ccl.su &   \\\end{tabular} &  0.249938 &     3 &     3 &     48 &     6 \\
    1 &                                                                                                                                                                                                                               \begin{tabular}{lll}sags.cc &  &   \\\end{tabular} &  0.001651 &     5 &     5 &   2196 &  2196 \\
    2 &                                                                                                                                                                                                                             \begin{tabular}{lll}paly.cc & jcy.su &   \\\end{tabular} &  0.000935 &    57 &    57 &   7875 &  3937 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}leq.su &  &   \\\end{tabular} &  0.000867 &    58 &    58 &   5674 &  5674 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}ccl.su &  &   \\\end{tabular} &  0.002866 &  1411 &  1411 &   5275 &  5275 \\
    1 &                                                                                                                                                                                                                                \begin{tabular}{lll}pcg.su &  &   \\\end{tabular} &  0.000158 &  1825 &  1825 &   4638 &  4638 \\
    1 &                                                                                                                                                                                                                               \begin{tabular}{lll}smis.cc &  &   \\\end{tabular} &  0.000660 &  2385 &  2385 &   6729 &  6729 \\
\bottomrule
\end{tabular}

In [242]:
# MW = 8
mwid = 8
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

display(Markdown("# %s" % (df['mwname'].iloc[0])))

display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])


display(Markdown("## Top10m > 1_000_000"))
display(df[(df["top10m"] > 1_000_000)])


display(Markdown("## Top10m < 1_000_000"))
display(df[(df["top10m"] < 1_000_000)])

df = df[(df["top10m"].isna()) & (df["nx"] > 0)]
df["bibo"] = df.nx // 10

def to_tabular(x):
    col = 2
    x = x[:6].to_numpy()
    result = np.empty((col*(x.shape[0] // col + 1)), dtype=object)
    result[:x.shape[0]] = x
    x = np.reshape(result, (-1, col))
    dfx = pd.DataFrame(x)
    tab = "\\begin{tabular}{lll}"
    for _,y in dfx.iterrows():
        fmt_str = ("%s & " * (col-1) + " %s \\\\")
        tab += fmt_str % tuple(y.to_numpy())
    tab += "\\end{tabular}"
    return tab

df = df.groupby("bibo").aggregate({
    "dn": ["count", to_tabular],
    "nosfx": "mean",
    "ok": "mean",
    "nx": "mean",
    "app": ["sum", "mean"]
})

display(df)
#df["nx/app"] = df.nx.astype(float) / df[('app', 'mean')].astype(float)

df.ok = df.nx.astype(int)
df.nx = df.nx.astype(int)
df.app = df.app.astype(int)
#df["nx/app"] = (df["nx/app"]*100).astype(int).astype(str) + "\\%"

print(df.to_latex(index=False, escape=False).replace("None", ""))

# Eudcedit

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
0,8,Eudcedit,749965,uprgitcidqeceynvcapvmzp.com,NaN,0.999999,284,142,142,0
1,8,Eudcedit,750057,hyzdxwtwxexwjndnbsjv.com,NaN,0.999973,284,142,142,0
2,8,Eudcedit,750136,tteyzamuwfyjnkzqwoztlvdsc.net,NaN,1.000000,282,141,141,0
3,8,Eudcedit,750052,ytsxgqtvgmnsjrvgvkhxpzh.net,NaN,0.999996,282,141,141,0
4,8,Eudcedit,750741,krnxkvyhfqnfeupzuwcyuweazxs.org,NaN,0.999998,281,140,141,0
...,...,...,...,...,...,...,...,...,...,...
5557,8,Eudcedit,757538,zdxvkozzhtsponmvzhifkzih.com,NaN,0.999999,2,1,1,0
5558,8,Eudcedit,757539,vkbhxgpzaetprvggyawcirltvo.net,NaN,0.999945,2,1,1,0
5559,8,Eudcedit,757540,vsirhkvswobcgyduemzvkqwypt.com,NaN,0.999991,2,1,1,0
5560,8,Eudcedit,757541,hqwcrkrkvrssgpvsgmscvcaqib.net,NaN,0.999997,2,1,1,0
5561,8,Eudcedit,757542,cevthobgtcetwmzxcq.com,NaN,0.999904,2,1,1,0

## Top10m > 1_000_000

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
4625,8,Eudcedit,761564,ns3.scoastnet.com.au,7435356.0,0.000004,4,3,1,0
5565,8,Eudcedit,751039,lansdownecollege.com,8276925.0,0.000002,36,36,0,0
5566,8,Eudcedit,761373,netpower.no,3958690.0,0.000080,36,36,0,0
5572,8,Eudcedit,751055,hoymail.com,8136169.0,0.004452,35,35,0,0
5574,8,Eudcedit,649579,embarqmail.com,3989674.0,0.000362,34,34,0,0
...,...,...,...,...,...,...,...,...,...,...
6127,8,Eudcedit,761613,ns1.eis.net.au,5588533.0,0.000002,2,2,0,0
6129,8,Eudcedit,761615,dns11.domainnetwork.com,3346741.0,0.000001,2,2,0,0
6133,8,Eudcedit,681399,pridns.qala.com.sg,4656787.0,0.000099,2,2,0,0
6142,8,Eudcedit,672296,ns1.bluecentral.com,9548851.0,0.000005,2,2,0,0
6146,8,Eudcedit,668888,ns11.netregistry.net,5790259.0,0.000002,2,2,0,0

## Top10m < 1_000_000

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no
5562,8,Eudcedit,649560,email.msn.com,628.0,0.002983,38,38,0,0
5564,8,Eudcedit,649610,cfl.rr.com,65229.0,0.000019,37,37,0,0
5567,8,Eudcedit,761372,sympatico.ca,22898.0,0.001925,36,36,0,0
5568,8,Eudcedit,761361,hawaii.rr.com,65229.0,0.071104,36,36,0,0
5570,8,Eudcedit,761348,staples.com,4635.0,0.000648,36,36,0,0
...,...,...,...,...,...,...,...,...,...,...
6105,8,Eudcedit,761565,ns2184.dns.dyn.com,10307.0,0.002686,2,2,0,0
6111,8,Eudcedit,761572,ns17.zoneedit.com,99636.0,0.000005,2,2,0,0
6140,8,Eudcedit,675743,ns2.iinet.net.au,18110.0,0.000042,2,2,0,0
6141,8,Eudcedit,675713,ns10.dnsmadeeasy.com,194373.0,0.000003,2,2,0,0
6143,8,Eudcedit,671539,ns2.no-ip.com,10530.0,0.000001,2,2,0,0

        dn  \
     count
bibo
0     1582
2        2
4      990
5      995
13    1900
14      92

                                                                                                                                                                                                                                                                    \
                                                                                                                                                                                                                                                        to_tabular
bibo
0            \begin{tabular}{lll}jflmjhtlbmcmgehkrjbozvc.ru &  usjrxoqusltkibfqukbutsydifkn.net \\lfubemhfapxgceojhasemhuus.net &  oflbmjpduntgydebamrxtgcyto.biz \\sopjvugfwqpztjzofnzaeizxs.com &  njinxgqshainqsmnbeqgjzlzhi.org \\None &  None \\\end{tabular}
2                                                                                                                                                \begin{tabular}{lll}hmraeqijkjzluxpxrclfyeqs.info &  hmraeqijkjzluxpxrclfyeqs.info \\None &  None \\\end{tabular}
4     \begin{tabular}{lll}vwhuojifduceireuyxtlrmrhfyyd.com &  mzinqucuwdqofideifiwoqkvsha.com \\xgxginbeojyukojxlzdozmbkjvw.org &  dixoxeqjfbiyrgamvvoydlrjtk.com \\wslfaqdtkkbxghepjhdwgfqyl.ru &  pqcmrwsnjxojnzpjurkwdakjdmd.org \\None &  None \\\end{tabular}
5                      \begin{tabular}{lll}gmfqfutkrpgaytbhrclz.com &  qnbwovsbihukbmrpztjnlijtw.info \\trsuxsemnifzdeyijxwqpirukt.org &  pzppraulmvizhyvibojaebycqjb.com \\lrwqwojzdnrovhfmizbe.org &  zxdeqgcebqypeythskjrpnr.com \\None &  None \\\end{tabular}
13      \begin{tabular}{lll}xzthdexbqlrgqcdajnvoddlfyh.com &  sgcuwgausswxcxtzyhobeap.org \\ydsklbkjaydeaixkfybexemmvqwmj.ru &  wseajflswoqgdunvtlwcqglnhh.net \\wseajflswoqgdunvtlwcqglnhh.net &  njzdvcguxkjvzpnrjrcyheojxobpv.ru \\None &  None \\\end{tabular}
14                   \begin{tabular}{lll}uprgitcidqeceynvcapvmzp.com &  hyzdxwtwxexwjndnbsjv.com \\tteyzamuwfyjnkzqwoztlvdsc.net &  ytsxgqtvgmnsjrvgvkhxpzh.net \\krnxkvyhfqnfeupzuwcyuweazxs.org &  ifnjcavyljzcelbafutijamfazg.ru \\None &  None \\\end{tabular}

         nosfx          ok          nx     app
          mean        mean        mean     sum        mean
bibo
0     0.996627    1.064475    1.024652    3305    2.089128
2     0.999997  200.500000   24.500000     450  225.000000
4     0.998914   48.648485   48.353535   96032   97.002020
5     0.999925   56.012060   55.993970  111446  112.006030
13    0.998989  137.654211  137.535263  522860  275.189474
14    0.999788  139.923913  140.119565   25764  280.043478

\begin{tabular}{rlrrrrr}
\toprule
   dn &     nosfx &   ok &   nx & \multicolumn{2}{l}{app} \\
count &                                                                                                                                                                                                                                                    to_tabular &      mean & mean & mean &     sum & mean \\
 1582 &         \begin{tabular}{lll}jflmjhtlbmcmgehkrjbozvc.ru &  usjrxoqusltkibfqukbutsydifkn.net \\lfubemhfapxgceojhasemhuus.net &  oflbmjpduntgydebamrxtgcyto.biz \\sopjvugfwqpztjzofnzaeizxs.com &  njinxgqshainqsmnbeqgjzlzhi.org \\ &   \\\end{tabular} &  0.996627 &    1 &    1 &    3305 &    2 \\
\midrule
    2 &                                                                                                                                             \begin{tabular}{lll}hmraeqijkjzluxpxrclfyeqs.info &  hmraeqijkjzluxpxrclfyeqs.info \\ &   \\\end{tabular} &  0.999997 &   24 &   24 &     450 &  225 \\
  990 &  \begin{tabular}{lll}vwhuojifduceireuyxtlrmrhfyyd.com &  mzinqucuwdqofideifiwoqkvsha.com \\xgxginbeojyukojxlzdozmbkjvw.org &  dixoxeqjfbiyrgamvvoydlrjtk.com \\wslfaqdtkkbxghepjhdwgfqyl.ru &  pqcmrwsnjxojnzpjurkwdakjdmd.org \\ &   \\\end{tabular} &  0.998914 &   48 &   48 &   96032 &   97 \\
  995 &                   \begin{tabular}{lll}gmfqfutkrpgaytbhrclz.com &  qnbwovsbihukbmrpztjnlijtw.info \\trsuxsemnifzdeyijxwqpirukt.org &  pzppraulmvizhyvibojaebycqjb.com \\lrwqwojzdnrovhfmizbe.org &  zxdeqgcebqypeythskjrpnr.com \\ &   \\\end{tabular} &  0.999925 &   55 &   55 &  111446 &  112 \\
 1900 &    \begin{tabular}{lll}xzthdexbqlrgqcdajnvoddlfyh.com &  sgcuwgausswxcxtzyhobeap.org \\ydsklbkjaydeaixkfybexemmvqwmj.ru &  wseajflswoqgdunvtlwcqglnhh.net \\wseajflswoqgdunvtlwcqglnhh.net &  njzdvcguxkjvzpnrjrcyheojxobpv.ru \\ &   \\\end{tabular} &  0.998989 &  137 &  137 &  522860 &  275 \\
   92 &                 \begin{tabular}{lll}uprgitcidqeceynvcapvmzp.com &  hyzdxwtwxexwjndnbsjv.com \\tteyzamuwfyjnkzqwoztlvdsc.net &  ytsxgqtvgmnsjrvgvkhxpzh.net \\krnxkvyhfqnfeupzuwcyuweazxs.org &  ifnjcavyljzcelbafutijamfazg.ru \\ &   \\\end{tabular} &  0.999788 &  140 &  140 &   25764 &  280 \\
\bottomrule
\end{tabular}

In [344]:
# MW = 2 HTBot/Proxyback
mwid = 2
df = pd.read_sql("SELECT * FROM dn_distribution_per_mw WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())

df['nx_ratio'] = df.nx/df.app


display(Markdown("# %s" % (df['mwname'].iloc[0])))



display(Markdown("## First 20 sorted by highest nx ratio and top10m > 1mln"))
df_tmp = df[(df.nx > 0) & ((df.top10m > 1_000_000) | (np.isnan(df.top10m)))].sort_values("nx", ascending=False).drop(columns=["mwname", "mwid", "dn_id"])
display(df_tmp)
display(df_tmp.nx_ratio.value_counts())
           


display(Markdown("## First 20 sorted by highest nx ratio and top10m > 1mln"))
df_tmp = df[(df.top10m > 1_000_000) | (np.isnan(df.top10m))].sort_values("nx", ascending=False).drop(columns=["mwname", "mwid", "dn_id"])
display(df_tmp.head(20))
print(df_tmp.head(20).to_latex())

    
display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])


display(Markdown("## _.onion_ domain"))
display(df[df.dn.str.find(".onion") >= 0])


#display(Markdown("## Top10m > 1_000_000"))
#display(df[(df["top10m"] > 1_000_000)])


#display(Markdown("## Top10m < 1_000_000"))
#display(df[(df["top10m"] < 1_000_000)])


display(Markdown("## Whoer"))
df_tmp = df[df.dn.str.find('whoer') >= 0].drop(columns=["dn_id"]).groupby("mwname").aggregate({
    "dn": ["count", lambda x: ",  ".join(x[0:3])],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum",
    
}, axis=0)
display(df_tmp)
print(df_tmp.to_latex())


display(Markdown("## dnsfor"))
df_tmp = df[df.dn.str.find('dnsfor') >= 0].drop(columns=["dn_id"]).groupby("mwname").aggregate({
    "dn": ["count", lambda x: ",  ".join(x[0:3])],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum",
    
}, axis=0)
display(df_tmp)
print(df_tmp.to_latex())

# HTBot/Proxyback

## First 20 sorted by highest nx ratio and top10m > 1mln

,dn,top10m,nosfx,app,ok,nx,no,nx_ratio
0,locate.madserver.net,NaN,0.000030,476,238,238,0,0.5
1,superyou.zapto.org,NaN,0.000890,406,203,203,0,0.5
2,www.sonux.czhttp,NaN,0.000000,270,135,135,0,0.5
3,crimenc5wxi63f4r.onion,NaN,0.957156,126,63,63,0,0.5
6,misternew.xyz,NaN,0.000077,28,14,14,0,0.5
7,www.pejskar.czhtemp,NaN,0.000000,28,14,14,0,0.5
8,www.reklama24.cz,NaN,0.000012,20,10,10,0,0.5
9,genesis.1337x.org,1409238.0,0.000003,20,10,10,0,0.5
10,fr33dom.h33t.com,2149269.0,0.000078,18,9,9,0,0.5
13,trackertorrents.ga,NaN,0.463558,16,8,8,0,0.5
11,ad2.billboard.cz,3921339.0,0.000003,16,8,8,0,0.5
12,www.h33t.com,2149269.0,0.000007,16,8,8,0,0.5
17,www.cyklo-bazar.info,NaN,0.000080,12,6,6,0,0.5
18,sonux.czhttp,NaN,0.000000,12,6,6,0,0.5
24,static.radar.ng,3207313.0,0.000013,8,4,4,0,0.5
26,www.reklama24.cz,NaN,0.000012,8,4,4,0,0.5
29,ad2.billboard.cz,3921339.0,0.000003,8,4,4,0,0.5
31,www.modelingport.com,NaN,0.003815,6,3,3,0,0.5
50,fakedeugihokh6wv.onion,NaN,1.000000,4,2,2,0,0.5
43,www.pejskar.czhfavicon.ico,NaN,0.000000,4,2,2,0,0.5
64,pets4home.czhttp,NaN,0.000000,2,1,1,0,0.5
97,ns1.dnsfor6.com,NaN,0.000023,2,1,1,0,0.5
96,ns1.dnsfor7.com,NaN,0.000014,2,1,1,0,0.5
95,ns1.dnsfor8.com,NaN,0.000021,2,1,1,0,0.5
94,ns1.dnsfor11.com,NaN,0.000016,2,1,1,0,0.5
93,ns1.dnsfor12.com,NaN,0.000045,2,1,1,0,0.5
92,ns1.dnsfor13.com,NaN,0.000020,2,1,1,0,0.5
91,ns1.dnsfor15.com,NaN,0.000014,2,1,1,0,0.5
90,ns1.dnsfor0.com,NaN,0.000016,2,1,1,0,0.5
89,www.hammond-duke.cz,NaN,0.029138,2,1,1,0,0.5
88,ns1.dnsfor1.com,NaN,0.000015,2,1,1,0,0.5
87,ns1.dnsfor1.net,NaN,0.000015,2,1,1,0,0.5
86,ns1.dnsfor1.org,NaN,0.000015,2,1,1,0,0.5
85,ns1.dnsfor2.com,NaN,0.000053,2,1,1,0,0.5
84,ns1.dnsfor3.com,NaN,0.000019,2,1,1,0,0.5
83,ns1.dnsfor4.com,NaN,0.000023,2,1,1,0,0.5
80,speed-net.cm,NaN,0.018944,2,1,1,0,0.5
66,ad.adfox.cz,NaN,0.005273,2,1,1,0,0.5
98,ns1.dnsfor5.com,NaN,0.000015,2,1,1,0,0.5

0.5    39
Name: nx_ratio, dtype: int64

## First 20 sorted by highest nx ratio and top10m > 1mln

,dn,top10m,nosfx,app,ok,nx,no,nx_ratio
0,locate.madserver.net,NaN,0.000030,476,238,238,0,0.5
1,superyou.zapto.org,NaN,0.000890,406,203,203,0,0.5
2,www.sonux.czhttp,NaN,0.000000,270,135,135,0,0.5
3,crimenc5wxi63f4r.onion,NaN,0.957156,126,63,63,0,0.5
6,misternew.xyz,NaN,0.000077,28,14,14,0,0.5
7,www.pejskar.czhtemp,NaN,0.000000,28,14,14,0,0.5
8,www.reklama24.cz,NaN,0.000012,20,10,10,0,0.5
9,genesis.1337x.org,1409238.0,0.000003,20,10,10,0,0.5
10,fr33dom.h33t.com,2149269.0,0.000078,18,9,9,0,0.5
11,ad2.billboard.cz,3921339.0,0.000003,16,8,8,0,0.5
12,www.h33t.com,2149269.0,0.000007,16,8,8,0,0.5
13,trackertorrents.ga,NaN,0.463558,16,8,8,0,0.5
17,www.cyklo-bazar.info,NaN,0.000080,12,6,6,0,0.5
18,sonux.czhttp,NaN,0.000000,12,6,6,0,0.5
29,ad2.billboard.cz,3921339.0,0.000003,8,4,4,0,0.5
24,static.radar.ng,3207313.0,0.000013,8,4,4,0,0.5
26,www.reklama24.cz,NaN,0.000012,8,4,4,0,0.5
31,www.modelingport.com,NaN,0.003815,6,3,3,0,0.5
43,www.pejskar.czhfavicon.ico,NaN,0.000000,4,2,2,0,0.5
50,fakedeugihokh6wv.onion,NaN,1.000000,4,2,2,0,0.5

\begin{tabular}{llrrrrrrr}
\toprule
{} &                          dn &     top10m &     nosfx &  app &   ok &   nx &  no &  nx\_ratio \\
\midrule
0  &        locate.madserver.net &        NaN &  0.000030 &  476 &  238 &  238 &   0 &       0.5 \\
1  &          superyou.zapto.org &        NaN &  0.000890 &  406 &  203 &  203 &   0 &       0.5 \\
2  &            www.sonux.czhttp &        NaN &  0.000000 &  270 &  135 &  135 &   0 &       0.5 \\
3  &      crimenc5wxi63f4r.onion &        NaN &  0.957156 &  126 &   63 &   63 &   0 &       0.5 \\
6  &               misternew.xyz &        NaN &  0.000077 &   28 &   14 &   14 &   0 &       0.5 \\
7  &         www.pejskar.czhtemp &        NaN &  0.000000 &   28 &   14 &   14 &   0 &       0.5 \\
8  &            www.reklama24.cz &        NaN &  0.000012 &   20 &   10 &   10 &   0 &       0.5 \\
9  &           genesis.1337x.org &  1409238.0 &  0.000003 &   20 &   10 &   10 &   0 &       0.5 \\
10 &            fr33dom.h33t.com &  2149269.0 &  0.000078 &   18 &    9 &    9 &   0 &       0.5 \\
11 &            ad2.billboard.cz &  3921339.0 &  0.000003 &   16 &    8 &    8 &   0 &       0.5 \\
12 &                www.h33t.com &  2149269.0 &  0.000007 &   16 &    8 &    8 &   0 &       0.5 \\
13 &          trackertorrents.ga &        NaN &  0.463558 &   16 &    8 &    8 &   0 &       0.5 \\
17 &        www.cyklo-bazar.info &        NaN &  0.000080 &   12 &    6 &    6 &   0 &       0.5 \\
18 &                sonux.czhttp &        NaN &  0.000000 &   12 &    6 &    6 &   0 &       0.5 \\
29 &            ad2.billboard.cz &  3921339.0 &  0.000003 &    8 &    4 &    4 &   0 &       0.5 \\
24 &             static.radar.ng &  3207313.0 &  0.000013 &    8 &    4 &    4 &   0 &       0.5 \\
26 &            www.reklama24.cz &        NaN &  0.000012 &    8 &    4 &    4 &   0 &       0.5 \\
31 &        www.modelingport.com &        NaN &  0.003815 &    6 &    3 &    3 &   0 &       0.5 \\
43 &  www.pejskar.czhfavicon.ico &        NaN &  0.000000 &    4 &    2 &    2 &   0 &       0.5 \\
50 &      fakedeugihokh6wv.onion &        NaN &  1.000000 &    4 &    2 &    2 &   0 &       0.5 \\
\bottomrule
\end{tabular}

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no,nx_ratio
0,2,HTBot/Proxyback,763322,locate.madserver.net,NaN,0.000030,476,238,238,0,0.5
1,2,HTBot/Proxyback,763353,superyou.zapto.org,NaN,0.000890,406,203,203,0,0.5
2,2,HTBot/Proxyback,763001,www.sonux.czhttp,NaN,0.000000,270,135,135,0,0.5
3,2,HTBot/Proxyback,762628,crimenc5wxi63f4r.onion,NaN,0.957156,126,63,63,0,0.5
6,2,HTBot/Proxyback,763959,misternew.xyz,NaN,0.000077,28,14,14,0,0.5
7,2,HTBot/Proxyback,692454,www.pejskar.czhtemp,NaN,0.000000,28,14,14,0,0.5
8,2,HTBot/Proxyback,692624,www.reklama24.cz,NaN,0.000012,20,10,10,0,0.5
13,2,HTBot/Proxyback,762536,trackertorrents.ga,NaN,0.463558,16,8,8,0,0.5
17,2,HTBot/Proxyback,762960,www.cyklo-bazar.info,NaN,0.000080,12,6,6,0,0.5
18,2,HTBot/Proxyback,692670,sonux.czhttp,NaN,0.000000,12,6,6,0,0.5
26,2,HTBot/Proxyback,692624,www.reklama24.cz,NaN,0.000012,8,4,4,0,0.5
31,2,HTBot/Proxyback,762465,www.modelingport.com,NaN,0.003815,6,3,3,0,0.5
43,2,HTBot/Proxyback,692455,www.pejskar.czhfavicon.ico,NaN,0.000000,4,2,2,0,0.5
50,2,HTBot/Proxyback,762548,fakedeugihokh6wv.onion,NaN,1.000000,4,2,2,0,0.5
64,2,HTBot/Proxyback,692492,pets4home.czhttp,NaN,0.000000,2,1,1,0,0.5
66,2,HTBot/Proxyback,762876,ad.adfox.cz,NaN,0.005273,2,1,1,0,0.5
80,2,HTBot/Proxyback,762262,speed-net.cm,NaN,0.018944,2,1,1,0,0.5
83,2,HTBot/Proxyback,762234,ns1.dnsfor4.com,NaN,0.000023,2,1,1,0,0.5
84,2,HTBot/Proxyback,762233,ns1.dnsfor3.com,NaN,0.000019,2,1,1,0,0.5
85,2,HTBot/Proxyback,762231,ns1.dnsfor2.com,NaN,0.000053,2,1,1,0,0.5
86,2,HTBot/Proxyback,762230,ns1.dnsfor1.org,NaN,0.000015,2,1,1,0,0.5
87,2,HTBot/Proxyback,762229,ns1.dnsfor1.net,NaN,0.000015,2,1,1,0,0.5
88,2,HTBot/Proxyback,762228,ns1.dnsfor1.com,NaN,0.000015,2,1,1,0,0.5
89,2,HTBot/Proxyback,692601,www.hammond-duke.cz,NaN,0.029138,2,1,1,0,0.5
90,2,HTBot/Proxyback,762227,ns1.dnsfor0.com,NaN,0.000016,2,1,1,0,0.5
91,2,HTBot/Proxyback,762226,ns1.dnsfor15.com,NaN,0.000014,2,1,1,0,0.5
92,2,HTBot/Proxyback,762225,ns1.dnsfor13.com,NaN,0.000020,2,1,1,0,0.5
93,2,HTBot/Proxyback,762224,ns1.dnsfor12.com,NaN,0.000045,2,1,1,0,0.5
94,2,HTBot/Proxyback,762222,ns1.dnsfor11.com,NaN,0.000016,2,1,1,0,0.5
95,2,HTBot/Proxyback,762219,ns1.dnsfor8.com,NaN,0.000021,2,1,1,0,0.5
96,2,HTBot/Proxyback,762218,ns1.dnsfor7.com,NaN,0.000014,2,1,1,0,0.5
97,2,HTBot/Proxyback,762216,ns1.dnsfor6.com,NaN,0.000023,2,1,1,0,0.5
98,2,HTBot/Proxyback,762213,ns1.dnsfor5.com,NaN,0.000015,2,1,1,0,0.5

## _.onion_ domain

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no,nx_ratio
3,2,HTBot/Proxyback,762628,crimenc5wxi63f4r.onion,NaN,0.957156,126,63,63,0,0.5
50,2,HTBot/Proxyback,762548,fakedeugihokh6wv.onion,NaN,1.000000,4,2,2,0,0.5
206,2,HTBot/Proxyback,762417,rzilaygoiqfvmmcl.onion.city,3896232.0,0.999938,144,144,0,0,0.0

## Whoer

                   dn  \
                count
mwname
HTBot/Proxyback    56

                                                                                                    \
                                                                                        <lambda_0>
mwname
HTBot/Proxyback  wpcek1432762.br.whoer.net,  uderg1431531.br.whoer.net,  sqzbm1432762.br.whoer.net

                   top10m     nosfx  app   ok   nx
                     mean      mean  sum  sum  sum
mwname
HTBot/Proxyback  366326.0  0.000585  928  814  114

\begin{tabular}{lrlrrrrr}
\toprule
{} & \multicolumn{2}{l}{dn} &    top10m &     nosfx &  app &   ok &   nx \\
{} & count &                                                                         <lambda\_0> &      mean &      mean &  sum &  sum &  sum \\
mwname          &       &                                                                                    &           &           &      &      &      \\
\midrule
HTBot/Proxyback &    56 &  wpcek1432762.br.whoer.net,  uderg1431531.br.whoer.net,  sqzbm1432762.br.whoer.net &  366326.0 &  0.000585 &  928 &  814 &  114 \\
\bottomrule
\end{tabular}

## dnsfor

                   dn                                                       \
                count                                           <lambda_0>
mwname
HTBot/Proxyback    18  ns1.dnsfor4.com,  ns1.dnsfor3.com,  ns1.dnsfor2.com

                top10m     nosfx app  ok  nx
                  mean      mean sum sum sum
mwname
HTBot/Proxyback    NaN  0.000039  42  21  15

\begin{tabular}{lrlrrrrr}
\toprule
{} & \multicolumn{2}{l}{dn} & top10m &     nosfx & app &  ok &  nx \\
{} & count &                                           <lambda\_0> &   mean &      mean & sum & sum & sum \\
mwname          &       &                                                      &        &           &     &     &     \\
\midrule
HTBot/Proxyback &    18 &  ns1.dnsfor4.com,  ns1.dnsfor3.com,  ns1.dnsfor2.com &    NaN &  0.000039 &  42 &  21 &  15 \\
\bottomrule
\end{tabular}

In [362]:
# MW = 1 105.exe
mwid = 1
df = pd.read_sql("SELECT dd.*, dn.bdn FROM dn_distribution_per_mw dd JOIN dn ON dd.dn_id=dn.id WHERE mwid = '%d' ORDER BY nx DESC" % mwid, get_db())


df['nx_ratio'] = df.nx/df.app

display(Markdown("# %s" % (df['mwname'].iloc[0])))

aggr_display = {
    "dn": ["count", lambda x: ",  ".join(x)],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum"
}

aggr_latex = {
    "dn": ["count", lambda x: r"\begin{tabular}{l} %s \end{tabular}" % r"\\".join(x)],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum"
}

bool_exp = (df.nx > 0) & ((df.top10m > 1_000_000) | (np.isnan(df.top10m)))


display(Markdown("## First 20 bdn by highest nx ratio and top10m > 1mln"))
display(df[bool_exp].groupby("bdn").aggregate(aggr_display))
print(df[bool_exp].groupby("bdn").aggregate(aggr_latex).to_latex(escape=False))


display(Markdown("## First 20 bdn by highest nx ratio and top10m > 1mln"))
df_tmp = df[bool_exp].sort_values("nx", ascending=False).drop(columns=["mwname"])
display(df_tmp)
display(df_tmp.nx_ratio.value_counts())

display(Markdown("## First 20 sorted by highest nx ratio and top10m > 1mln"))
df_tmp = df[bool_exp].sort_values("nx", ascending=False).drop(columns=["mwname"])
display(df_tmp)
display(df_tmp.nx_ratio.value_counts())
           


display(Markdown("## First 20 sorted by highest nx ratio and top10m > 1mln"))
df_tmp = df[(df.top10m > 1_000_000) | (np.isnan(df.top10m))].sort_values("nx", ascending=False).drop(columns=["mwname"])
display(df_tmp.head(20))
print(df_tmp.head(20).to_latex())

    
display(Markdown("## Top10m is NaN and nx>0"))
display(df[(df["top10m"].isna()) & (df["nx"] > 0)])


display(Markdown("## _.onion_ domain"))
display(df[df.dn.str.find(".onion") >= 0])


#display(Markdown("## Top10m > 1_000_000"))
#display(df[(df["top10m"] > 1_000_000)])


#display(Markdown("## Top10m < 1_000_000"))
#display(df[(df["top10m"] < 1_000_000)])


display(Markdown("## Whoer"))
df_tmp = df[df.dn.str.find('whoer') >= 0].drop(columns=["dn_id"]).groupby("mwname").aggregate({
    "dn": ["count", lambda x: ",  ".join(x[0:3])],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum",
    
}, axis=0)
display(df_tmp)
print(df_tmp.to_latex(escape=False))


display(Markdown("## dnsfor"))
df_tmp = df[df.dn.str.find('dnsfor') >= 0].drop(columns=["dn_id"]).groupby("mwname").aggregate({
    "dn": ["count", lambda x: ",  ".join(x[0:3])],
    "top10m": "mean",
    "nosfx": "mean",
    "app": "sum",
    "ok": "sum",
    "nx": "sum",
    
}, axis=0)
display(df_tmp)
print(df_tmp.to_latex())

# Navicat

## First 20 bdn by highest nx ratio and top10m > 1mln

                      dn  \
                   count
bdn
alacartebelini.com     4
method.in              2

                                                                                                                                                           \
                                                                                                                                               <lambda_0>
bdn
alacartebelini.com      0.49921.pdl.alacartebelini.com,  220.42241.pdl.alacartebelini.com,  2.57099.pf.alacartebelini.com,  7.57099.pf.alacartebelini.com
method.in           8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in,  8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in

                   top10m         nosfx   app    ok   nx
                     mean          mean   sum   sum  sum
bdn
alacartebelini.com    NaN  1.707101e-06  3176  3110   60
method.in             NaN  2.729039e-09   256   128  128

\begin{tabular}{lrlrrrrr}
\toprule
{} & \multicolumn{2}{l}{dn} & top10m &         nosfx &   app &    ok &   nx \\
{} & count &                                                                                                                                                             <lambda_0> &   mean &          mean &   sum &   sum &  sum \\
bdn                &       &                                                                                                                                                                        &        &               &       &       &      \\
\midrule
alacartebelini.com &     4 &        \begin{tabular}{l} 0.49921.pdl.alacartebelini.com\\220.42241.pdl.alacartebelini.com\\2.57099.pf.alacartebelini.com\\7.57099.pf.alacartebelini.com \end{tabular} &    NaN &  1.707101e-06 &  3176 &  3110 &   60 \\
method.in          &     2 &  \begin{tabular}{l} 8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in\\8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in \end{tabular} &    NaN &  2.729039e-09 &   256 &   128 &  128 \\
\bottomrule
\end{tabular}

## First 20 bdn by highest nx ratio and top10m > 1mln

,mwid,dn_id,dn,top10m,nosfx,app,ok,nx,no,bdn,nx_ratio
0,1,689008,8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in,NaN,9.961305e-11,252,126,126,0,method.in,0.500000
1,1,689785,0.49921.pdl.alacartebelini.com,NaN,2.190402e-06,496,450,46,0,alacartebelini.com,0.092742
2,1,691218,220.42241.pdl.alacartebelini.com,NaN,1.316271e-06,211,203,8,0,alacartebelini.com,0.037915
3,1,688379,2.57099.pf.alacartebelini.com,NaN,1.566425e-06,2069,2061,4,0,alacartebelini.com,0.001933
4,1,688384,7.57099.pf.alacartebelini.com,NaN,1.755307e-06,400,396,2,0,alacartebelini.com,0.005000
5,1,762137,8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in,NaN,5.358466e-09,4,2,2,0,method.in,0.500000

0.500000    2
0.001933    1
0.037915    1
0.005000    1
0.092742    1
Name: nx_ratio, dtype: int64

## First 20 sorted by highest nx ratio and top10m > 1mln

,mwid,dn_id,dn,top10m,nosfx,app,ok,nx,no,bdn,nx_ratio
0,1,689008,8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in,NaN,9.961305e-11,252,126,126,0,method.in,0.500000
1,1,689785,0.49921.pdl.alacartebelini.com,NaN,2.190402e-06,496,450,46,0,alacartebelini.com,0.092742
2,1,691218,220.42241.pdl.alacartebelini.com,NaN,1.316271e-06,211,203,8,0,alacartebelini.com,0.037915
3,1,688379,2.57099.pf.alacartebelini.com,NaN,1.566425e-06,2069,2061,4,0,alacartebelini.com,0.001933
4,1,688384,7.57099.pf.alacartebelini.com,NaN,1.755307e-06,400,396,2,0,alacartebelini.com,0.005000
5,1,762137,8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in,NaN,5.358466e-09,4,2,2,0,method.in,0.500000

0.500000    2
0.001933    1
0.037915    1
0.005000    1
0.092742    1
Name: nx_ratio, dtype: int64

## First 20 sorted by highest nx ratio and top10m > 1mln

,mwid,dn_id,dn,top10m,nosfx,app,ok,nx,no,bdn,nx_ratio
0,1,689008,8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in,NaN,9.961305e-11,252,126,126,0,method.in,0.500000
1,1,689785,0.49921.pdl.alacartebelini.com,NaN,2.190402e-06,496,450,46,0,alacartebelini.com,0.092742
2,1,691218,220.42241.pdl.alacartebelini.com,NaN,1.316271e-06,211,203,8,0,alacartebelini.com,0.037915
3,1,688379,2.57099.pf.alacartebelini.com,NaN,1.566425e-06,2069,2061,4,0,alacartebelini.com,0.001933
4,1,688384,7.57099.pf.alacartebelini.com,NaN,1.755307e-06,400,396,2,0,alacartebelini.com,0.005000
5,1,762137,8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in,NaN,5.358466e-09,4,2,2,0,method.in,0.500000
3299,1,689073,59.63525.pdl.alacartebelini.com,NaN,2.045339e-06,166,166,0,0,alacartebelini.com,0.000000
3306,1,689080,66.63525.pdl.alacartebelini.com,NaN,2.230692e-06,166,166,0,0,alacartebelini.com,0.000000
3305,1,689079,65.63525.pdl.alacartebelini.com,NaN,1.392057e-06,166,166,0,0,alacartebelini.com,0.000000
3304,1,689078,64.63525.pdl.alacartebelini.com,NaN,2.142500e-06,166,166,0,0,alacartebelini.com,0.000000
3303,1,689077,63.63525.pdl.alacartebelini.com,NaN,7.626132e-06,166,166,0,0,alacartebelini.com,0.000000
3302,1,689076,62.63525.pdl.alacartebelini.com,NaN,2.296719e-06,166,166,0,0,alacartebelini.com,0.000000
3301,1,689075,61.63525.pdl.alacartebelini.com,NaN,1.085441e-06,166,166,0,0,alacartebelini.com,0.000000
3300,1,689074,60.63525.pdl.alacartebelini.com,NaN,2.027490e-06,166,166,0,0,alacartebelini.com,0.000000
3296,1,689070,56.63525.pdl.alacartebelini.com,NaN,3.023790e-06,166,166,0,0,alacartebelini.com,0.000000
3298,1,689072,58.63525.pdl.alacartebelini.com,NaN,5.082114e-06,166,166,0,0,alacartebelini.com,0.000000
3297,1,689071,57.63525.pdl.alacartebelini.com,NaN,2.329271e-06,166,166,0,0,alacartebelini.com,0.000000
3308,1,689091,77.63525.pdl.alacartebelini.com,NaN,2.749018e-06,166,166,0,0,alacartebelini.com,0.000000
3295,1,689069,55.63525.pdl.alacartebelini.com,NaN,2.029554e-06,166,166,0,0,alacartebelini.com,0.000000
3294,1,689068,54.63525.pdl.alacartebelini.com,NaN,3.369082e-06,166,166,0,0,alacartebelini.com,0.000000

\begin{tabular}{lrrlrrrrrrlr}
\toprule
{} &  mwid &   dn\_id &                                                                 dn &  top10m &         nosfx &   app &    ok &   nx &  no &                 bdn &  nx\_ratio \\
\midrule
0    &     1 &  689008 &  8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in &     NaN &  9.961305e-11 &   252 &   126 &  126 &   0 &           method.in &  0.500000 \\
1    &     1 &  689785 &                                     0.49921.pdl.alacartebelini.com &     NaN &  2.190402e-06 &   496 &   450 &   46 &   0 &  alacartebelini.com &  0.092742 \\
2    &     1 &  691218 &                                   220.42241.pdl.alacartebelini.com &     NaN &  1.316271e-06 &   211 &   203 &    8 &   0 &  alacartebelini.com &  0.037915 \\
3    &     1 &  688379 &                                      2.57099.pf.alacartebelini.com &     NaN &  1.566425e-06 &  2069 &  2061 &    4 &   0 &  alacartebelini.com &  0.001933 \\
4    &     1 &  688384 &                                      7.57099.pf.alacartebelini.com &     NaN &  1.755307e-06 &   400 &   396 &    2 &   0 &  alacartebelini.com &  0.005000 \\
5    &     1 &  762137 &  8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in &     NaN &  5.358466e-09 &     4 &     2 &    2 &   0 &           method.in &  0.500000 \\
3299 &     1 &  689073 &                                    59.63525.pdl.alacartebelini.com &     NaN &  2.045339e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3306 &     1 &  689080 &                                    66.63525.pdl.alacartebelini.com &     NaN &  2.230692e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3305 &     1 &  689079 &                                    65.63525.pdl.alacartebelini.com &     NaN &  1.392057e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3304 &     1 &  689078 &                                    64.63525.pdl.alacartebelini.com &     NaN &  2.142500e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3303 &     1 &  689077 &                                    63.63525.pdl.alacartebelini.com &     NaN &  7.626132e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3302 &     1 &  689076 &                                    62.63525.pdl.alacartebelini.com &     NaN &  2.296719e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3301 &     1 &  689075 &                                    61.63525.pdl.alacartebelini.com &     NaN &  1.085441e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3300 &     1 &  689074 &                                    60.63525.pdl.alacartebelini.com &     NaN &  2.027490e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3296 &     1 &  689070 &                                    56.63525.pdl.alacartebelini.com &     NaN &  3.023790e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3298 &     1 &  689072 &                                    58.63525.pdl.alacartebelini.com &     NaN &  5.082114e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3297 &     1 &  689071 &                                    57.63525.pdl.alacartebelini.com &     NaN &  2.329271e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3308 &     1 &  689091 &                                    77.63525.pdl.alacartebelini.com &     NaN &  2.749018e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3295 &     1 &  689069 &                                    55.63525.pdl.alacartebelini.com &     NaN &  2.029554e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
3294 &     1 &  689068 &                                    54.63525.pdl.alacartebelini.com &     NaN &  3.369082e-06 &   166 &   166 &    0 &   0 &  alacartebelini.com &  0.000000 \\
\bottomrule
\end{tabular}

## Top10m is NaN and nx>0

,mwid,mwname,dn_id,dn,top10m,nosfx,app,ok,nx,no,bdn,nx_ratio
0,1,Navicat,689008,8f267a4596962193f2c0fa85ec902efb1647af54b85a690df6.fofi.method.in,NaN,9.961305e-11,252,126,126,0,method.in,0.500000
1,1,Navicat,689785,0.49921.pdl.alacartebelini.com,NaN,2.190402e-06,496,450,46,0,alacartebelini.com,0.092742
2,1,Navicat,691218,220.42241.pdl.alacartebelini.com,NaN,1.316271e-06,211,203,8,0,alacartebelini.com,0.037915
3,1,Navicat,688379,2.57099.pf.alacartebelini.com,NaN,1.566425e-06,2069,2061,4,0,alacartebelini.com,0.001933
4,1,Navicat,688384,7.57099.pf.alacartebelini.com,NaN,1.755307e-06,400,396,2,0,alacartebelini.com,0.005000
5,1,Navicat,762137,8fda7859966a238ff23cf899ec6c2ce716bbad48b8a66b11f6.fofi.method.in,NaN,5.358466e-09,4,2,2,0,method.in,0.500000

## _.onion_ domain

Empty DataFrame
Columns: [mwid, mwname, dn_id, dn, top10m, nosfx, app, ok, nx, no, bdn, nx_ratio]
Index: []

## Whoer

Empty DataFrame
Columns: [(dn, count), (dn, <lambda_0>), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum)]
Index: []

\begin{tabular}{lrrrrrrr}
\toprule
Empty DataFrame
Columns: MultiIndex([(    'dn',      'count'),
            (    'dn', '<lambda_0>'),
            ('top10m',       'mean'),
            ( 'nosfx',       'mean'),
            (   'app',        'sum'),
            (    'ok',        'sum'),
            (    'nx',        'sum')],
           )
Index: Index([], dtype='object', name='mwname') \\
\bottomrule
\end{tabular}

## dnsfor

Empty DataFrame
Columns: [(dn, count), (dn, <lambda_0>), (top10m, mean), (nosfx, mean), (app, sum), (ok, sum), (nx, sum)]
Index: []

\begin{tabular}{lrrrrrrr}
\toprule
Empty DataFrame
Columns: MultiIndex([(    'dn',      'count'),
            (    'dn', '<lambda\_0>'),
            ('top10m',       'mean'),
            ( 'nosfx',       'mean'),
            (   'app',        'sum'),
            (    'ok',        'sum'),
            (    'nx',        'sum')],
           )
Index: Index([], dtype='object', name='mwname') \\
\bottomrule
\end{tabular}